include ../../../header

html
    head
        meta(property='og:title'       content='INSTITUTE')
        meta(property='og:description' content='Інститут Прикладної Математики')
        meta(property='og:url'         content='https://groupoid.space/institute/')

block title
    title КМ-111-08

block content
    +header('', 'Алгебраїчна топологія', 'Курс лекцій для студентів третього курсу кафедри чистої математики КМ-111-08')
    article.main
        .om
            aside <span>Автори</span>: <b>Фоменко, Фукс</b><br>
                <span>Код курсу</span>: <b><a href="../">КМ-111-08</a></b><br>
                <span>Кількість кредитів</span>: <b>12</b><br>
            section
                h1 Алгебраїчна топологія
            section
                p.
                    Алгебраїчна топологія &mdash; це розділ математики, що вивчає топологічні
                    простори засобами абстрактної алгебри. Головна мотивація &mdash; пошук
                    інваріантів, що класифікують топологічні простори з точністю до гомеоморфізмів
                    або гомотопічних еквівалентностей.

        .index
            .index__col
                ul
                    li: a(href='#') 1. CW-комплекси
                    li: a(href='#') 2. Гомотопії
                    li: a(href='#') 3. Гомології
                    li: a(href='#') 4. Спектральна послідовність розшарування
                    li: a(href='#') 5. Когомологічні операції
                    li: a(href='#') 6. Спектральна послідовність Адамса
                    li: a(href='#') 7. К-Теорія та екстраординарні теорії когомологій
                    li: a(href='#') 8. Гомології у варіаційних задачах

include ../../../footer
