include ../../../header

html
    head
        meta(property='og:title'       content='INSTITUTE')
        meta(property='og:description' content='Інститут Прикладної Математики')
        meta(property='og:url'         content='https://groupoid.space/institute/')

block title
    title KM-111-10

block content
    +header('', 'Гомотопічна теорія типів', 'Курс лекцій для студентів третього курсу кафедри чистої математики КМ-111-10')
    article.main
        .om
            section
                h1 Курс "Мова простору"
            aside <b>Автор</b>: Максим Сохацький.<br>
                  <b>Тема</b>: Гомотопічна теорія типів.<br>
                  <b>Код курсу</b>: <a href="https://groupoid.space/institute/КМ-111/">КМ-111-01</a><br>
                  <b>Місце</b>: вул. Костянтинівська 20, кв. 31. Київ 04071.<br>
                  <b>Аудієнція</b>: студенти математичних спеціальностей.<br>
                  <b>Час</b>: Субота 12:00.<br>

            h2 Вступ
            p.
                Цей курс є сучасним вступом в теорію типів
                яка викоростовується для побудови не тільки мов програмування,
                але і мов для математичної верифікації. Оскільки модальна
                гомотопічна теорія типів підходить для формалізації усієї
                математики її ще називають "мовою простору".
            p.
                Серія лекцій присвячена базовій бібліотеці Групоїд Інфініті
                та здобуттю навичок програмування математичних визначень
                та теорем на одній з реалізацій цієї теорії типів &mdash;
                мові <a href="https://homotopy.dev/">Anders</a>.

            h2 Мотивація
            p.
                Головні завдання курсу:
                1) безпосередня побудова термів-доведень в кубічній теорії типів за допомогою комп'ютерної верифікації;
                2) вирішення домашніх завдань або вправ з підручника HoTT на мовах Groupoid Infinity;
                3) запис нонаток у TeX як основна культура документування;
                5) курсова робота по формалізації певної математичної теорії або порт існуючої формалізації з Agda або Lean;
                6) гуртування людей які намагаються поєднати професійну математику та програмування;
                7) отримання інтелектуального задоволення.

            h2 Підручник HoTT
            p.
                Що стосується теорії та дидактичних матеріалів,
                то курс побудований таким чином аби можна було використовувати
                як текстуальне джерело-компаньон класичний <a href="https://homotopytypetheory.org/book/">Підручник HoTT</a>
                Структура курсу теж ділиться на дві великі частини:
                1) програмування (або базові синтетичні конструкції теорії типів); та
                2) математика (математичні теорії написані на цій мові програмування).
                На додаток до класчних тем підручника HoTT, цей курс містить початковий
                вступ у формальну алгебраїчну топологію та диференціальну геометрію.

            h2 Кубічні мови
            p.
                На практиці професійні математики зосереджені навколо двох мов математичного
                програмування: Agda та Lean. У той час як Agda підтримує кубічні примітиви в ядрі прувера,
                для Lean існує бібліотека яка інтерналізує кубічні примітиви
                в примитіви ядра Lean які називаються фактортипами (така система є
                консистентною проте не завжди має нормальні форми).

                Усього існує небагато кубічних мов програмування:
                1) <b>cubical/cubicaltt</b> (CCHM);
                2) <b>RedPRL/redtt/cooltt </b> (ABCFHL).
                3) <b>yacctt </b> (ABCFHL);
                4) <b>Arend</b> (I-HoTT);
                5) <b>Agda</b> (CCHM);
                6) <b>Anders</b> (CCHM).
                Ми покажемо відмінності між ними, проте курс зосереджений навколо синтаксису CCHM.
                Посилання на адаптації нашої бібліотеки Групоїд Інфініті для усіх цих кубічних пруверів,
                а також посилання на самі прувери та їх математичні моделі
                наведені на сайті <a href="https://axio.groupoid.space">AXIO/1</a>.

        .om
            section
                h1  Програмування
                h2  Випуск I: Теорія типів
            section
                +tex.
                    Перший розділ є введенням у теорію типів, її предметну область та
                    методи комп'ютерних наук. Ми розглянемо основні принципи лямбда-числення,
                    його найпотужнішу версію — System $P_\omega$, Calculus of Constructions
                    та Pure Type Systems. Потім ми закодуємо теореми системи типів MLTT в
                    кубічних верифікаторах. Цей розділ охопить типи <b>Pi</b>,
                    <b>Sigma</b>, <b>Path</b>.
                p.
                    HoTT 1.3, 1.4, 1.5, 1.6, 1.12, 2.7, 2.9, 2.11, 6.2

                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="https://groupoid.space/books/vol1/mltt.pdf") &nbsp; Випуск I: Інтерналізція теорії типів Мартіна-Льофа

        .om
            section
                h2  Випуск II: Індуктивні типи
            section
                p.
                    Другий розділ є введенням у базові індуктивні типи та принцип індукції.
                    Індуктивні типи формують основу так званого Calculus of Inductive Constructions, теорії, що лежить в основі Coq.
                    Ми покажемо, як доведення теорем за принципом індукції відрізняється від кубічних конструкцій.
                    Також ми представимо загальне імпредикативне кодування індуктивних типів (Awodey).
                    Цей розділ охопить типи: <b>W</b>, <b>Empty</b>, <b>Unit</b>, <b>Either</b>, <b>Prod</b>,
                    <b>Bool</b>, <b>Maybe</b>, <b>Nat</b>, <b>List</b>. Для неконсистетних систем факультативно розглядаються
                    <b>Fix</b>, <b>Mu</b>, <b>Nu</b>, <b>Free</b>, <b>Cofree</b>.
                p.
                    HoTT 1.7, 1.8, 1.9, 5.1, 5.6

                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="https://groupoid.space/books/vol1/cic.pdf") &nbsp; Випуск II: Індуктивні типи та кодування
        .om
            section
                h2  Випуск III: Гомотопічна теорія типів
            section
                +tex.
                    Ця тема дає фундаментальне уявлення про типи Pi як фібрування,
                    що використовуються в конструктивній еквівалентності. Також тут
                    ми розглянемо нескінченну ієрархію типів, що містить вищі
                    глобулярні рівності, які використовуються як основа для IPL,
                    теорії множин та симпліціальної геометрії. Цей розділ охопить
                    типи <b>Fiber</b>, <b>n-Groupoid</b>.
                p.
                    У теорії типів існують три рівності: 1) вбудована в перевірник типів,
                    що представляє тип Id, Equ або Path з J-елімінатором; 2) еквівалентність
                    на основі фібрування; 3) ізоморфізм, що містить ретракт і секцію. Цей
                    факт призводить до аксіоми унівалентності, яка стверджує, що всі
                    еквівалентність дорівнює простору шляхів, і це може бути доведено
                    в кубічних перевірниках типів. Цей розділ охопить типи: <b>Equiv</b>,
                    <b>Iso</b>, <b>Homotopy</b>, <b>Univalence</b>, <b>Injective</b>, <b>Surjective</b>.
                p.
                    HoTT 2.1, 2.3, 2.4, 2.6, 2.7

                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="https://groupoid.space/books/vol1/hott.pdf") &nbsp; Випуск III: Гомотопічна теорія типів

        .om
            section
                h2        Випуск IV: Вищі індуктивні типи
            section
                p.
                    Однією з основних мотивацій HoTT є конструктивна геометрія та клітинні комплекси, простори, побудовані шляхом склеювання n-дисків уздовж їхніх меж. У цьому розділі ми покажемо, як будувати топологічні примітиви та як міркувати про них. Цей розділ охопить типи: <b>Line</b>, <b>Suspension</b>, <b>n-Sphere</b>, <b>Pushout</b>, <b>Pullback</b>, <b>Truncation</b>, <b>Quotient</b>.
                p.
                    HoTT 6.3, 6.4, 6.5, 6.6, 6.9, 6.10

                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="https://groupoid.space/books/vol1/hit.pdf") &nbsp; Випуск IV: Вищі індуктивні типи

        .om
            section
                h2  Випуск V: Модальності
            section
                p.
                    Цей розділ охопить тип <b>Infinitesimal</b>.
                p.
                    HoTT 7.7

                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="https://groupoid.space/books/vol1/modalities.pdf") &nbsp; Випуск V: Модальності
        .om
            section
                h1  Математика
        .om
            section
                h2  Випуск XXII: Теорія множин
            section
                p.
                    Цей розділ є введенням у інтуїціоністську логіку висловлювань (IPL),
                    її відмінність від класичної логіки, аксіому вибору, закон виключеного
                    третього, пропозіційну урізку, теорему Хедберга, вирішувані типи, конструктивну теорію множин. Цей розділ охопить типи: <b>Prop</b>, <b>Set</b>, <b>Decidable</b>, <b>Stable</b>, <b>Discrete</b>.
                p.
                    HoTT 3.1, 3.3, 3.11
        .om
            section
                h2  Випуск XXIII: Теорія категорій
            section
                +tex.
                    Понад 10 медалей Філдса отримано завдяки теорії категорій (CT) як інструменту.
                    Для занять математикою CT є вирішальною. Як супровід до розділу HoTT про CT,
                    ми пропонуємо курс Стіва Аводі (учня Сондерса Мак Лейна), який також зробив HoTT можливим.
                p.
                    Цей розділ дасть фундаментальне уявлення про такі типи: <b>Precategory</b>,
                        <b>Rezk Completion</b>, <b>Functor</b>, <b>Natural Transformation</b>,
                    <b>Adjoint</b>, <b>Cone</b>, <b>Structure Identity Principle</b>,
                    <b>Limit</b>, <b>Pullback</b>, <b>Kan Extension</b>, <b>Monomorphism</b>,
                    <b>Epimorphism</b>, <b>Universal Mapping Property</b>.
                p.
                    Основне застосування CT у комп'ютерних науках — побудова категоріальної моделі
                    залежно типізованого лямбда-числення як внутрішньої мови локально декартово
                    замкненої категорії. У цьому курсі згадуються дві моделі: Categories with
                    Families (Dybjer) та C-Systems (Voevodsky).
                +tex.
                    Також як приклади екземплярів категорій використовуються такі типи:
                    Категорія множин, Категорія функцій, Категорія категорій, Категорія
                    функторів, Срізна категорія, Добуткова категорія. Використовуючи їх,
                    ми можемо побудувати базові приклади 2-категорій та дати дуже базове
                    введення в $\infty$-Категорії. Типи в цьому розділі: <b>Category of
                    Commutative Monoids</b>, <b>Category of Abelian Groups</b>, <b>Grothendieck Group</b>.

                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="https://groupoid.space/books/vol4/cat.pdf") &nbsp; Випуск XXII: Теорія категорій

                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="https://groupoid.space/books/vol4/cwf.pdf") &nbsp; Випуск XXX: Контекстуальні категорії для теорії типів Мартіна-Льофа

        .om
            section
                h2        Випуск XXXIX: Теорія топосів
            section
                p.
                    Теорія топосів дасть більш глибоке розуміння категоріальних моделей і створить міцніший фундамент для побудови мосту між CT та логікою простору.
                p.
                    У цьому розділі я згадаю типи <b>Subobject Classifier</b> та <b>Topos</b>.

                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="https://groupoid.space/books/vol4/topos.pdf") &nbsp; Випуск XXXIX: Формальний топос на категорії множин

        .om
            section
                h2  Випуск IX: Алгебраїчна топологія
            section
                p.
                    Типи в цьому розділі: <b>Monoid</b>, <b>Commutative Monoid</b>, <b>Group</b>, <b>Ring</b>, <b>Abelian Group</b>, <b>Abelian Ring</b>, <b>Hopf</b>, <b>Loop Space</b>, <b>Homotopy Group</b>.
        .om
            section
                h2  Випуск X: Диференціальна геометрія
            section
                p.
                    Типи в цьому розділі: <b>Abstract Homogeneous Structure</b>, <b>Shape</b>, <b>Étale Map</b>, <b>Automorphism</b>, <b>Fiber Bundle</b>, <b>Manifold</b>, <b>Covering Space</b> (G-Set).
        .om
            section
                h1  Історія
        .types
            h2  Історичні нотатки
            p.
                Щодо вежі теорій типів, необхідних для введення CCHM (Cohen-Coquand-Huber-Mortberg),
                ми використаємо наступне налаштування.

            h2  Системи типів
            -
                    var core = {
                    'PTS':  [ 'pi' ],
                    'MLTT': [ 'pi', 'sigma', 'id', 'W' ],
                    'CIC':  [ 'pi', 'sigma', 'id', 'fix', 'induction' ],
                    'CCHM': [ 'pi', 'sigma', 'id', 'path', 'glue', 'HIT' ],
                }

            .type
                for v, k in core
                    ol.type__col
                        h3=k
                        for i in v
                            li: a(href='#'+i)= i.toUpperCase()
                p.
                    Ці <a href="https://groupoid.space/misc/hist/">історичні передумови</a>
                    (PTS, MLTT, CIC) будуть розглянуті протягом курсу.

include ../../../footer
