extends ../../../layout.pug

block title
    title CW
    script(src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML')
    script.
     window.MathJax = { jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
                             TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
                             extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
                             "HTML-CSS": { imageFont: null },
                             AuthorInit: function() {
                                 MathJax.Hub.Register.StartupHook("TeX AMSmath Ready", function() {
                                     var TEX = MathJax.InputJax.TeX;
                                     TEX.Definitions.Add({
                                         macros: {
                                           llparenthesis: ['Macro', '\\mathopen{\u2987}'],
                                           rrparenthesis: ['Macro', '\\mathclose{\u2988}'],
                                           llbracket:     ['Macro', '\\mathopen{\u27E6}'],
                                           rrbracket:     ['Macro', '\\mathclose{\u27E7}'],
                                           incmap:        ['Macro', '\\mathclose{\u21AA}'],
                                         }
                                     });
                                 });
                             },
                             tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']],
                                        processEscapes: true }
                         };

block content
    article.main
        .om
            section
                h1 CW
        aside <a href="..">Base Library</a>
            time Published: 24 JUL 2018
        .om
            section
                figure.
                    $$\def\mapright#1{\xrightarrow{{#1}}}
                      \def\mapdown#1{\Big\downarrow\rlap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapdiagl#1{\vcenter{\searrow}\rlap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapdiagr#1{\vcenter{\swarrow}\rlap{\raise2pt{\scriptstyle{#1}}}}
                    $$
                p.
                    <a href="https://raw.githubusercontent.com/groupoid/infinity/master/priv/cw.ctt">CW package</a>
                    contains basic theorems about general theory of CW-complexes.

            section
                h1 COMPUTER SCIENCE
                p.
                    CW-complexes are fundamental objects in homotopy type theory
                    and even included inside cubical type checker as higher (co)-inductive types.
                    Just like regular (co)-inductive types could be described as recursive
                    terminating or non-terminating trees, higher inductive types could be
                    described as CW-complexes. Usually what you build in cubical type checker
                    as an inductive type with equalities means you define some CW-complex
                    directly using cubical homogeneous composition structure as an
                    element of initial algebra inside cubical model.
                p.
                    <b>Examples:</b>
                code.
                    data pushout (A B C: U) (f: C -> A) (g: C -> B)
                           = po1 (_: A)
                           | po2 (_: B)
                           | po3 (c: C) &lt;i&gt; [ (i = 0) -> po1 (f c) ,
                                              (i = 1) -> po2 (g c) ]
                p.
                    <b>Shperes and Disks:</b>
                code.
                    data S1 = base
                            | loop &lt;i&gt; [ (i = 0) -> base, (i = 1) -> base ]
                br.
                code.
                    data S2 = pt
                             | surf &lt;i j&gt; [ (i = 0) -> pt, (i = 1) -> pt,
                                            (j = 0) -> pt, (j = 1) -> pt ]
                br.
                code.
                    data D3 (x: S2) = bo
                        | space &lt;i j k&gt; [ ( i = 0) -> bo, (i = 1) -> bo ,
                                          ( j = 0) -> bo, (j = 1) -> bo ,
                                          ( k = 0) -> bo, (k = 1) -> bo ]

            section
                h1 MATH
                p.
                    The definition of homotopy groups, a special role is played by the inclusions Sn−1 􏰀→ Dn. In this lecture we study spaces obtained iterated attachments of Dn along Sn−1, and show that for them weak homotopy equivalences are the same as homotopy equivalences.
                p.
                    <b>Definition</b> (Attachment). Attaching n-cell to a space $X$
                    along a map $f : S^{n-1} \rightarrow X$ means taking a pushout
                figure.
                    $$
                    \begin{array}{ccc}
                        S^{n-1} & \mapright{\mathbf{f}} & X \\
                        \mapdown{} & & \mapdown{} \\
                        D^n & \mapright{} & X \cup_f D^n \\
                    \end{array}
                    $$
                p.
                    where the notation $X \cup_f D^n$ means result depends
                    on homotopy class of $f$.
                p.
                    <b>Definition</b> (CW-Complex). Inductively. The only
                    CW-complex of dimention $-1$ is $\varnothing$.
                    A CW-complex of dimension $\leqslant n$ on $X$ is a
                    space $X$ obtained by attaching a collection of n-cells
                    to a CW-complex of dimension $n−1$.
                p.
                    A CW-complex is a space $X$ which is the colimit(X_i) of a
                    sequence $X_{-1} = \varnothing \incmap X_0 \incmap X_1 \incmap X_2 \incmap ... X$ of
                    CW-complexes $X_i$ of dimension $\leqslant n$, with $X_{i+1}$
                    obtained from $X_i$ by i-cell attachments.
                    Thus if X is a CW-complex, it comes with a filtration
                    $$
                        \varnothing \incmap X_0 \incmap X_1 \incmap X_2 \incmap ... X
                    $$
                    where $X_i$ is a CW-complex of dimension $\leqslant i$ called
                    the i-skeleton, and hence the filtration is called the skeletal
                    filtration.