footer.footer
    a(href='https://tonpa.guru/')
        img.footer__logo(src='https://longchenpa.guru/seal.png',width=50)
    span.footer__copy 2016&mdash;2019 &copy; <a href="https://groupoid.space/" style="color:Lavender;">Groupoid Infinity</a>
    script(src='https://groupoid.space/highlight.js')
