footer.footer
    a(href='https://5ht.co/license/')
        img.footer__logo(src='https://longchenpa.guru/seal.png',width=50)
    span.footer__copy 2015&mdash;2026 &copy; <a rel="me" href="https://mathstodon.xyz/@5ht" style="color:white;"><u>Namdak Tonpa Norbu</u></a>
    script(src='https://groupoid.space/highlight.js?v=1')
    script(src='https://groupoid.space/bundle.js')
