link(rel='stylesheet' href='https://groupoid.space/main.css')

footer.footer
    a(href='https://5HT.co/license/')
        img.footer__logo(src='https://longchenpa.guru/seal.png',width=50)
    span.footer__copy 2016&mdash;2025 &copy; <a rel="me" href="https://mathstodon.xyz/@5ht">Namdak Tönpa</a>
    script(src='https://groupoid.space/highlight.js')
    script(src='https://groupoid.space/bundle.js')
