extends layout.pug

block title
    title Infinity

block content
    +header('groupoid.svg', 'Groupoid Infinity', 'The Language of Space')
    article.main
        .om
            section
                h1 TRUSTED SYSTEMS
            aside 7 MAY 2018
            p.
                Here is presented the conceptual model of theorem proving system as a set of
                1) calculuses with its categorical models;
                2) programs or base libraries; and
                3) program transformations: type checking, compilation, code erasure, extraction, optimizing, etc.
                The overal system is dedicated for math and general purpose programming
                with code extraction to functional programming language compilers or interpreters.
            section
                h1 STRUCTURE
            p.
                The thesis is grouped by research areas with its corresponding type systems,
                formal models, type checkers and base libraries.
        .index
            .index__col
                h2 Lambda Calculus
                ul
                    li: a(href='lc/intro') O Language
                    li: a(href='lc/extract') Extraction
            .index__col
                h2 PTS
                ul
                    li: a(href='pts/intro') Intro
                    li: a(href='pts/semantics') Semantics
                    li: a(href='pts/pure') Pure Core
                    li: a(href='pts/status') Status
            .index__col
                h2 Effect System
                ul
                    li <a href='eff/io'>I/O</a>
                    li <a href='eff/ioi'>Infinity I/O</a>
                    li <a href='eff/idris'>Idris Effects</a>
                    li <a href='#eff/coq'>Coq Effects</a>
            .index__col
                h2 Pi Calculus
                ul
                    li: a(href='pi/intro') Intro
                    li: a(href='lc/runtime') Runtime
                    li: a(href='#pi/check') Type Checking
                    li: a(href='#pi/bisim') Bisimulation
            .index__col
                h2 MLTT/CCHM
                ul
                    li: a(href='mltt/infinity') Literature Overview
                    li: a(href='mltt/inductive') Inductive Core
                    li: a(href='mltt/types') Math Components
                    li: a(href='#mltt/hit') Homotopy Core
                    li: a(href='mltt/iso') Path Iso
            .index__col
                h2 Stream Calculus
                ul
                    li: a(href='/array/intro') Introduction
                    li: a(href='#array/lang') The Language
                    li: a(href='#array/vec') Vectorization
        .om
            section
                h1 DYNAMIC
            p.
                <img src=structure.svg width=600>
            section
                h1 PUBLICATIONS
            p.
                Peer-reviewed articles about implementation details:
        .index
            <center><table cellspacing=5><tr><td width=5><img src="https://n2o.space/img/pdf.jpg" width=35></td><td width=400>
            <a href="https://github.com/groupoid/groupoid.space/blob/master/tex/articles/pts/om.pdf">
            <h3>Consistent Pure Type System with Effects for Erlang/OTP</h3>
            </a></td></tr></table></center>

            <center><table cellspacing=5><tr><td width=5><img src="https://n2o.space/img/pdf.jpg" width=35></td><td width=400>
            <a href="https://github.com/groupoid/groupoid.space/blob/master/tex/articles/identity/identity.pdf">
            <h3>Constructive Proofs of Heterogeneous Equalities in Cubical Type Theory</h3>
            </a></td></tr></table></center>

            <center><table cellspacing=5><tr><td width=5><img src="https://n2o.space/img/pdf.jpg" width=35></td><td width=400>
            <a href="https://github.com/groupoid/groupoid.space/blob/master/tex/articles/types/types.pdf">
            <h3>Mathematical Components for Cubical Syntax</h3>
            </a></td></tr></table></center>

