doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport'        content='width=device-width, initial-scale=1')
        meta(name='author'          content='Maxim Sokhatsky')
        meta(name='twitter:site'    content='@5HT')
        meta(name='twitter:creator' content='@5HT')
        meta(property='og:title'       content='GROUPOЇD')
        meta(property='og:description' content='Groupoid Infinity')
        meta(property='og:type'        content='website')
        meta(property='fb:app_id'      content='118554188236439')
        meta(property='og:url'         content='https://groupoid.space')
        link(rel='stylesheet' href='https://groupoid.space/main.css')
        block title
            title GROUPOЇD
    body.content
        block content
        block vars

block content
    article.main
        .exe
            section
            p.
                <b>Groupoid</b> is doing formalization of mathematics
                in a <a href="https://cubical.systems">cubical type systems</a>.

        br
        hr
        br
        .exe
            section
            h1 TOC
        .types
            br
            -
                                              var logic = {

                        'Category Theory': { 'Categories': 'math/cat',
                                             'Functors, Adjunctions': 'math/adjoint',
                                             'Natural Transformations': 'math/natural',
                                             'Kan Extensions' : 'math/kan',
                                             '(Co)limits': 'math/lim',
                                             'Universal Properties' : 'math/ump',
                                             'Structure Identity Principle' : 'math/sip' },

                           'Topos Theory': { 'Topology' : 'math/topology',
                                             'Coverings' : 'math/coverings',
                                             'Grothendieck Topology' : 'math/topos',
                                             'Grothendieck Topos' : 'math/topos',
                                             'Elementary Topos': 'math/topos' },

                   'Metatheoretic Models': { 'Homotopical Algebra' : 'math/quillen',
                                             'Presheaf Type Theory' : 'math/presheaf',
                                             'Cohesive Topos' : 'math/cohesive' },
                                             'Set Quillen model' : 'https://tonpa.guru/stream/2020/2020-05-03%20%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%20%D0%BA%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8.htm',
                                             'Top Quillen model' : 'https://tonpa.guru/stream/2020/2020-05-03%20%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%20%D0%BA%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8.htm',
                                             'sSet Quillen model' : 'https://tonpa.guru/stream/2020/2020-05-03%20%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%20%D0%BA%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8.htm',
                                             'Pi Presheaf' : 'math/presheaf',
                                             'Sigma Presheaf' : 'math/presheaf',
                                             'sSet Presheaf' : 'math/presheaf',
                                             'I Presheaf' : 'math/presheaf' }; var algebra = {

                    'Abstract Algebra':    { 'Group' : 'math/group',
                                             'Subgroup' : 'math/subgroup',
                                             'Normal Group' : 'math/normalgroup',
                                             'Factorgroup' : 'math/factorgroup',
                                             'Abelian Group' : 'math/abgroup',
                                             'Ring' : 'math/ring',
                                             'Module' : 'math/module' },

                    '(Co)Homotopy Theory': { 'Pullback, Pushout' : 'math/limits',
                                             'Limit, Fiber' : 'math/bundle',
                                             'Suspension, Loop' : 'math/susp',
                                             'Smash, Wedge, Join' : 'math/wedge',
                                             'H-(co)spaces' : 'math/hspace',
                                             'Eilenberg-MacLane Spaces' : 'math/emspace',
                                             'Cell Complexes' : 'math/cw',
                                             '(Co)Homotopy Group' : 'math/homotopy',
                                             'Hopf Invariant' : 'math/hopf' },

                    '(Co)Homology Theory': { '(Co)Chain Complex' : 'math/complex',
                                             '(Co)Homology Group' : 'math/homology',
                                             'Stinrod-Eilenberg Axioms' : 'math/stinrod',
                                             'Hom and Tensor' : 'math/hom',
                                             'Free and Projective Resolutions' : 'math/resolution',
                                             'Derived Categories and Functors' : 'math/derived',
                                             'Tor, Ext and Local Cohomology' : 'math/tor',
                                             'Cohomology Operations' : 'math/cohomology' } }

            br
            .type
                for v, k in logic
                    ol.type__col
                        h3= k
                        for j, i in v
                            li: a(href= j)= i
            br
            .type
                for v, k in algebra
                    ol.type__col
                        h3= k
                        for j, i in v
                            li: a(href= j)= i
            br
            br
            br
        br
        hr
        br

        .exe
            section
            br
            h1 Languages
            p.
                Non-dependent languages are targets or runtimes, and dependently typed language are provers.

            h2 Runtimes
            p.
                Runtimes and effect type systems.
            p.
                31 DEC 2016 &mdash; <a href='lang/cps/'>Certified CPS Interpreter</a><br>
                31 DEC 2016 &mdash; <a href='lang/ip/'>Intercore SMP Protocol</a><br>
                10 OCT 2016 &mdash; <a href='lang/apl/'>Array Processing</a><br>
                10 OCT 2016 &mdash; <a href='lang/eff/'>Effect Type System</a><br>
                24 MAY 2018 &mdash; <a href='core/process/'>Process Type System</a><br>

            h2 Provers
            p.
                Theorem provers for logic, lambda encodings exploration and homotopy calculus.
            p.
                10 OCT 2016 &mdash; <a href='pure/'>Pure Type System</a><br>
                 6 JUL 2018 &mdash; <a href='homotopy/'>Homotopy Type System</a><br>
                19 JAN 2020 &mdash; <a href='https://principia.lol'>Principia System</a><br>

            h1 Models
            p.
                Great language should come with a great library.
            p.
                 3 AUG 2018 &mdash; <a href='math/'>Formal Mathematics</a><br>

            h2 Foundation
            p.
                The examples of HTS<sup>&infin;</sup> base library man pages.
            p.
                16 JUL 2017 &mdash; <a href='core/pi/'>Pi</a>,
                                    <a href='core/sigma/'>Sigma</a>,
                                    <a href='core/path/'>Path</a>,
                                    <a href='core/proto/'>Proto</a>,
                                    <a href='core/prop/'>Prop</a>,
                                    <a href='core/stream/'>Stream</a>,
                                    <a href='core/list/'>List</a>,
                                    <a href='core/nat/'>Nat</a>,
                                    <a href='core/maybe/'>Maybe</a>,
                                    <a href='core/io/'>IO</a>,
                                    <a href='core/ioi/'>IOI</a>,
                                    <a href='core/bool/'>Bool</a><br>

            h2 Mathematics
            p.
                The series of notes on Homotopy Theory, Category Theory, Topos Theory, Sheaf Theory and Differential Geometry, formalized in HTS<sup>&infin;</sup>.
            p.
                10 OCT 2017 &mdash; <a href='math/iso/'>Isomorphism</a><br>
                19 OCT 2017 &mdash; <a href='math/inductive/'>Inductive Data Types</a><br>
                20 JUN 2017 &mdash; <a href='math/hopf/'>Hopf Fibrations</a><br>
                 5 NOV 2017 &mdash; <a href='math/category/'>Category</a><br>
                20 MAY 2018 &mdash; <a href='math/bundle/'>Bundle</a><br>
                25 JUL 2018 &mdash; <a href='math/cw/'>CW Complex</a><br>
                 9 AUG 2018 &mdash; <a href='math/topos/'>Formal Set Topos</a><br>
                30 DEC 2018 &mdash; <a href='math/equiv/'>Equivalence</a><br>
                13 JAN 2019 &mdash; <a href='math/presheaf/'>Presheaf Type Theories</a><br>
                15 JAN 2019 &mdash; <a href='math/limits/'>Homotopy Limits</a><br>
                15 JAN 2019 &mdash; <a href='math/disc/'>Differential Geometry</a><br>
                17 JAN 2019 &mdash; <a href='math/derham/'>de Rham Cohesion</a><br>
                22 JAN 2019 &mdash; <a href='math/homology/'>Homology</a><br>

            h1 Notes
            p.
                The series of articles on foundation and mathematics of Homotopy Type Theory.
            p.
                &mdash; <a href='articles/mltt/mltt.pdf'>Issue I: Internalizing MLTT</a><br>
                &mdash; <a href='articles/hott/hott.pdf'>Issue III: Homotopy Type Theory</a><br>
                &mdash; <a href='articles/topos/topos.pdf'>Issue VIII: Formal Set Topos</a><br>
                &mdash; <a href='articles/pts/pts.pdf'>Addendum I: Pure Type System</a><br>
                &mdash; <a href='articles/equ/equ.pdf'>Addendum II: Many Faces of Equality</a><br>

include footer
