extends layout.pug

block title
    title Infinity

block content
    +header('groupoid.svg', 'Groupoid Infinity', 'The Language of Space')
    article.main
        .om
            section
                h1 Formal Verification
            aside 7 MAY 2018
            p.
                Conceptual model of theorem proving system is a set of calculuses
                and its base libraries for math and general purpose programming
                with code extraction to functional programming languages and interpreters.
            section
                h1 Thesis Structure
            p.
                The research areas are grouped by corresponding type systems,
                its formal models, type checkers and base libraries.
        .index
            .index__col
                h2 Lambda Calculus
                ul
                    li: a(href='lc/intro') O Language
                    li: a(href='lc/extract') Extraction
            .index__col
                h2 PTS
                ul
                    li: a(href='pts/intro') Intro
                    li: a(href='pts/semantics') Semantics
                    li: a(href='pts/pure') Pure Core
                    li: a(href='pts/status') Status
            .index__col
                h2 Effect System
                ul
                    li <a href='eff/io'>I/O</a>
                    li <a href='eff/ioi'>Infinity I/O</a>
                    li <a href='eff/idris'>Idris Effects</a>
                    li <a href='#eff/coq'>Coq Effects</a>
            .index__col
                h2 Pi Calculus
                ul
                    li: a(href='pi/intro') Intro
                    li: a(href='lc/runtime') Runtime
                    li: a(href='#pi/check') Type Checking
                    li: a(href='#pi/bisim') Bisimulation
            .index__col
                h2 MLTT/CCHM
                ul
                    li: a(href='mltt/infinity') Literature Overview
                    li: a(href='mltt/inductive') Inductive Core
                    li: a(href='mltt/types') Math Components
                    li: a(href='#mltt/hit') Homotopy Core
                    li: a(href='mltt/iso') Path Iso
            .index__col
                h2 Stream Calculus
                ul
                    li: a(href='/array/intro') Introduction
                    li: a(href='#array/lang') The Language
                    li: a(href='#array/vec') Vectorization
        .om
            section
                h1 Papers
            p.
                Accepted and work-in-progress papers.
        .index
            <center><table cellspacing=5><tr><td width=5><img src="https://n2o.space/img/pdf.jpg" width=35></td><td width=400>
            <a href="https://github.com/groupoid/om/blob/master/doc/om.pdf">
            <h3>Consistent Pure Type System with Effect Type System for Erlang</h3>
            </a></td></tr></table></center>

            <center><table cellspacing=5><tr><td width=5><img src="https://n2o.space/img/pdf.jpg" width=35></td><td width=400>
            <a href="https://github.com/groupoid/groupoid.space/blob/master/tex/articles/identity/identity.pdf">
            <h3>Constructive Proofs of Heterogeneous Equalities in Cubical Type Theory</h3>
            </a></td></tr></table></center>

            <center><table cellspacing=5><tr><td width=5><img src="https://n2o.space/img/pdf.jpg" width=35></td><td width=400>
            <a href="https://github.com/groupoid/groupoid.space/blob/master/tex/articles/types/types.pdf">
            <h3>Mathematical Components for Cubical Syntax</h3>
            </a></td></tr></table></center>

