extends layout.pug

block title
    title Infinity

block content
    +header('//groupoid.space/groupoid.svg', 'Groupoid Infinity', '<b>Infinity</b> &mdash; Language with HITs<br> on top of MLTT core')
    article.main
        .index
            .index__col
                h2 Lambda Calculus
                ul
                    li: a(href='/lc/intro') Interpreter
                    li: a(href='/lc/extract') Extraction
            .index__col
                h2 HM
                ul
                    li: a(href='/hm/intro') The Language
                    li: a(href='/hm/opt') Optimization
            .index__col
                h2 Effect System
                ul
                    li <a href='#/eff/io'>I/O</a>
                    li <a href='#/eff/ioi'>Infinity I/O</a>
            .index__col
                h2 Pi Calculus
                ul
                    li: a(href='/pi/intro') Intro
                    li: a(href='/lc/runtime') Runtime
                    li: a(href='#/pi/check') Type Checking
                    li: a(href='#/pi/bisim') Bisimulation
            .index__col
                h2 MLTT
                ul
                    li: a(href='/mltt/intro') Intro
                    li: a(href='/mltt/infinity') Infinity Language
                    li: a(href='/mltt/pure') Pure Core
                    li: a(href='/mltt/semantics') Judgment Rules
                    li: a(href='#/mltt/inductive') Inductive Core
                    li: a(href='/mltt/types') Base library
                    li: a(href='/mltt/lambek') Lambek Encoding
                    li: a(href='#/mltt/hit') Homotopy Core
                    li: a(href='/mltt/iso') Path Iso
            .index__col
                h2 Stream Calculus
                ul
                    li: a(href='/array/intro') Introduction
                    li: a(href='#/array/lang') The Language
                    li: a(href='#/array/vec') Vectorization
