include header

html
    head
        meta(property='og:title'       content='GROUPOЇD')
        meta(property='og:description' content='L\'Infini des Groupoïdes')
        meta(property='og:url'         content='https://groupoid.space/')

block title
    title GROUPOЇD

block content
    article.main
        .exe
            section
            p.
                <a href="https://groupoid.space/institute/">L'Infini des Groupoïdes</a>
                achieves a landmark synthesis, unifying synthetic and classical mathematics
                in a mechanically verifiable framework <a href="https://axio.groupoid.space">AXIO/1</a>
                showcasing its ability to span algebraic, analytic, geometric, categorical,
                topological, and foundational domains in the set of languages:
                <a href="https://anders.groupoid.space/">Anders</a> (Cubical HoTT),
                <a href="https://dan.groupoid.space/">Dan</a> (Simplicial HoTT),
                <a href="https://jack.groupoid.space/">Jack</a> (K-Theory, Hopf Fibrations),
                <a href="https://urs.groupoid.space/">Urs</a> (Supergeometry),
                <a href="https://fabien.groupoid.space/">Fabien</a> (A¹ HoTT).
                Its type formers—spanning simplicial ∞-categories, stable spectra,
                cohesive modalities, reals, ZFC, large cardinals, and forcing.

        br
        <hr size=1>
        br
        .exe
            section
            h1 MATHEMATICS
            p.
                Mathematical theories, models and languages.
        .types
            -
                   var logic = {

                        'Category Theory': { 'Categories': 'https://anders.groupoid.space/mathematics/categories/category/',
                                             'Functors, Adjunctions': 'https://anders.groupoid.space/mathematics/categories/functor/',
                                             'Natural Transformations': '',
                                             'Kan Extensions' : '',
                                             '(Co)limits': '',
                                             'Universal Properties' : '',
                                             'Monoidal Categories' : '',
                                             'Enriched Categories' : '',
                                             'Structure Identity Principle' : '' },

                           'Topos Theory': { 'Topology' : '',
                                             'Coverings' : '',
                                             'Grothendieck Topology' : 'https://anders.groupoid.space/mathematics/categories/topos/',
                                             'Grothendieck Topos' : '',
                                             'Geometric Morphisms': '',
                                             'Higher Topos Theory': '',
                                             'Elementary Topos': '' },

                               'Geometry': { 'Nisnevich Site' : '',
                                             'Zariski Site' : '',
                                             'Theory of Schemes' : '',
                                             'Noetherian Scheme' : '',
                                             'A¹-Homotopy Theory' : '',
                                             'Cohesive Topos' : '',
                                             'Etale Topos': '',
                                             'Differential Geometry': '',
                                             'Synthetic Geometry': '',
                                             'Local Homotopy Theory': '' }};

                     var foundations = {

                               'Analysis': { 'Real Analysis' : '',
                                             'Funtional analysis' : '',
                                             'Measure theory': '' },

                           'Foundations': {  'Proof Theory': '',
                                             'Set Theory': '',
                                             'Schönfinkel': '',
                                             'Łukasiewicz':'',
                                             'Frege': '',
                                             'Hilbert': '',
                                             'Church': '',
                                             'Tarski':'' },

                            'Type Theory': { 'Laurent Schwartz' : 'https://laurent.groupoid.space/',
                                             'Ernst Zermelo' : '',
                                             'Paul Cohen' : '',
                                             'Henk Barendregt': 'https://henk.groupoid.space/',
                                             'Per Martin-Löf': 'https://per.groupoid.space/',
                                             'Christine Paulin-Mohring': 'https://christine.groupoid.space/',
                                             'Anders Mörtberg': 'https://anders.groupoid.space/',
                                             'Dan Kan': 'https://dan.groupoid.space/',
                                             'Jack Morava': 'https://jack.groupoid.space/',
                                             'Urs Schreiber': 'https://urs.groupoid.space/',
                                             'Fabien Morel': 'https://fabien.groupoid.space/' }};

                    var algebra = {

                   'Algebraic Systems':    { 'Algebraic structure' : 'https://anders.groupoid.space/mathematics/algebra/algebra/',
                                             'Group, Subgroup' : '',
                                             'Normal Group' : '',
                                             'Factorgroup' : '',
                                             'Abelian Group' : '',
                                             'Ring, Module' : '',
                                             'Field Theory' : '',
                                             'Linear Algebra' : '',
                                             'Universal Algebra' : '',
                                             'Lie, Leibniz Algebra' : '',
                                           },

                    '(Co)Homotopy Theory': { 'Pullback' : 'https://anders.groupoid.space/mathematics/homotopy/pullback/',
                                             'Pushout' : 'https://anders.groupoid.space/mathematics/homotopy/pushout/',
                                             'Limit, Fiber' : 'https://anders.groupoid.space/mathematics/geometry/bundle/',
                                             'Suspension, Loop' : '',
                                             'Smash, Wedge, Join' : '',
                                             'H-(co)spaces' : '',
                                             'Eilenberg-MacLane Spaces' : '',
                                             'Cell Complexes' : '',
                                             '∞-Groupoids' : '',
                                             '(Co)Homotopy' : '',
                                             'Hopf Invariant' : '' },

                    '(Co)Homology Theory': { 'Chain Complex' : '',
                                             '(Co)Homology' : 'https://anders.groupoid.space/mathematics/algebra/homology/',
                                             'Stinrod Axioms' : '',
                                             'Hom and Tensor' : '',
                                             'Resolutions' : '',
                                             'Derived Cat, Fun' : '',
                                             'Tor, Ext and Local Cohomology' : '',
                                             'Homological Algebra' : '',
                                             'Spectral Sequences' : '',
                                             'Cohomology Operations' : '' } }; 

            br
            br
            .type
                for v, k in algebra
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li(style="font-size:14px;"): b()= i
                            else
                                li(style="font-size:14px;"): a(href= j)= i
            br
            br
            .type
                for v, k in logic
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li(style="font-size:14px;"): b()= i
                            else
                                li(style="font-size:14px;"): a(href= j)= i
            br
            br
            .type
                for v, k in foundations
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li(style="font-size:14px;"): b()= i
                            else
                                li(style="font-size:14px;"): a(href= j)= i

        .exe
            section


            h1 ARTICLES
            p.
                The series of articles on foundation and mathematics of Homotopy Type Theory.

        .types
            -
                   var logic = {

                    'Foundations': {  'Type Theory': 'https://groupoid.space/articles/mltt/mltt.pdf',
                                      'Inductive Types': 'https://groupoid.space/articles/cic/cic.pdf',
                                      'Homotopy Type Theory': 'https://groupoid.space/articles/hott/hott.pdf',
                                      'Higher Inductive Types':'https://groupoid.space/articles/hit/hit.pdf',
                                      'Modalities': '' },

                      'Languages': { 'Laurent Schwartz' : 'https://laurent.groupoid.space/',
                                             'Ernst Zermelo' : '',
                                             'Paul Cohen' : '',
                                             'Henk Barendregt': 'https://henk.groupoid.space/',
                                             'Per Martin-Löf': 'https://per.groupoid.space/',
                                             'Christine Paulin-Mohring': 'https://christine.groupoid.space/',
                                             'Anders Mörtberg': 'https://anders.groupoid.space/',
                                             'Dan Kan': 'https://dan.groupoid.space/',
                                             'Jack Morava': 'https://jack.groupoid.space/',
                                             'Urs Schreiber': 'https://urs.groupoid.space/',
                                             'Fabien Morel': 'https://fabien.groupoid.space/' },

                    'Mathematics': { 'Set Theory': '',
                                     'Topos Theory': '',
                                     'Simple Finite Groups': '',
                                     'Categories with Families': '',
                                     'Heterogeneous Equality': '',
                                     'Abelian Groups': '',
                                     'Abelian Categories': '',
                                     'Supergeometry': '',
                                     'C-Systems': '',
                                     'Grothendieck Group': '' }
                                 };


            .type
                for v, k in logic
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li(style="font-size:14px;"): b()= i
                            else
                                li(style="font-size:14px;"): a(href= j)= i
            br
            br

        .exe

            h1 LIBRARY
            p.
                Homotopy Library for <a href="https://anders.groupoid.space/">Anders</a>
                theorem prover consists of two parts Foundations and Mathematics just
                as <a href="https://homotopytypetheory.org/book/">HoTT Book</a>.

            h2 FOUNDATIONS
            p.
                MLTT, Modal and Univalent Foundations represent a basic
                language primitives of <b>Anders</b> and its base library.

            section
                .macro
                    .macro__col
                        h3#mltt <b>MLTT</b>
                        ol
                            li: <a href='https://anders.groupoid.space/foundations/mltt/pi/'>Π</a>, <a href='https://anders.groupoid.space/foundations/mltt/sigma/'>Σ</a>, <a href='https://anders.groupoid.space/foundations/mltt/id/'>=</a>
                            li: <a href='https://anders.groupoid.space/foundations/mltt/inductive/'>0, 1, 2, W</a>
                            li: <a href='https://anders.groupoid.space/foundations/mltt/either/'>+</a>, <a href='https://anders.groupoid.space/foundations/mltt/maybe/'>1+</a>
                            li: <a href='https://anders.groupoid.space/foundations/mltt/nat/'>N</a>, <a href='https://anders.groupoid.space/foundations/mltt/list/'>LIST</a>
                            li: <a href='https://anders.groupoid.space/foundations/mltt/fin/'>FIN</a>, <a href='https://anders.groupoid.space/foundations/mltt/vec/'>VEC</a>

                    .macro__col
                        h3#modal <b>MODAL</b>
                        ol
                            li: a(href='https://anders.groupoid.space/foundations/modal/process/') PROCESS
                            li: a(href='https://anders.groupoid.space/foundations/modal/infinitesimal/') INFINITESIMAL
                            li: a(href='https://anders.groupoid.space/foundations/modal/localization/') LOCALIZATION

                    .macro__col
                        h3#univalent <b>UNIVALENT</b>
                        ol
                            li: a(href='https://anders.groupoid.space/foundations/univalent/path/') PATH
                            li: a(href='https://anders.groupoid.space/foundations/univalent/glue/') GLUE
                            li: a(href='https://anders.groupoid.space/foundations/univalent/equiv/') EQUIV
                            li: a(href='https://anders.groupoid.space/foundations/univalent/funext/') FUNEXT
                            li: a(href='https://anders.groupoid.space/foundations/univalent/iso/') ISO

            h2 MATHEMATICS
            p.
                The second part is dedicated to mathematical models and theories internalized in this language.

            section
                .macro
                    .macro__col
                        h3#categories <b>ANALYSIS</b>
                        ol
                            li: <a href='https://anders.groupoid.space/mathematics/analysis/topology/'>TOPOLOGY</a>
                            li: <a href='https://anders.groupoid.space/mathematics/analysis/set/'>SET</a>
                            li: <a href='https://anders.groupoid.space/mathematics/analysis/rational/'>ℚ</a>,
                                <a href='https://anders.groupoid.space/mathematics/analysis/real/'>ℝ</a>
                            li: <a href='https://anders.groupoid.space/mathematics/analysis/complex/'>ℂ</a>,
                                <a href='https://anders.groupoid.space/mathematics/analysis/quatro/'>ℍ</a>,
                                <a href='https://anders.groupoid.space/mathematics/analysis/octo/'>𝕆</a>

                    .macro__col
                        h3#algebra <b>ALGEBRA</b>
                        ol
                            li: a(href='https://anders.groupoid.space/mathematics/algebra/group/') GROUP
                            li: a(href='https://anders.groupoid.space/mathematics/algebra/algebra/') ALGEBRA
                            li: a(href='https://anders.groupoid.space/mathematics/algebra/homology/') HOMOLOGY

                    .macro__col
                        h3#geometry <b>GEOMETRY</b>
                        ol
                            li: a(href='https://anders.groupoid.space/mathematics/geometry/etale/') ETALE
                            li: a(href='https://anders.groupoid.space/mathematics/geometry/bundle/') BUNDLE
                            li: a(href='https://anders.groupoid.space/mathematics/geometry/manifold/') MANIFOLD
                            li: a(href='https://anders.groupoid.space/mathematics/geometry/derham/') DE RHAM


            section
                .macro
                    .macro__col
                        h3#homotopy <b>HOMOTOPY</b>
                        ol
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/coequalizer/') COEQUALIZER
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/pushout/') PUSHOUT
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/pullback/') PULLBACK
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/hopf/') HOPF
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/cw/') CW

                    .macro__col
                        h3#categories <b>CATEGORIES</b>
                        ol
                            li: a(href='https://anders.groupoid.space/mathematics/categories/category/') CATEGORY
                            li: a(href='https://anders.groupoid.space/mathematics/categories/functor/') FUNCTOR
                            li: a(href='https://anders.groupoid.space/mathematics/categories/adjoint/') ADJOINT
                            li: a(href='https://anders.groupoid.space/mathematics/categories/groupoid/') GROUPOID
                            li: a(href='https://anders.groupoid.space/mathematics/categories/topos/') TOPOS
                            li: a(href='https://anders.groupoid.space/mathematics/categories/presheaf/') PRESHEAF
            br.
            p.
                 The base library for <b>cubicaltt</b> is given on separate page:
                 <a href='https://groupoid.space/misc/library/'>Formal Mathematics: The Cubical Base Library</a><br>


            center.
                <br>🧊 <br><br><br>

hr
include footer
