doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport'        content='width=device-width, initial-scale=1')
        meta(name='author'          content='Maxim Sokhatsky')
        meta(name='twitter:site'    content='@5HT')
        meta(name='twitter:creator' content='@5HT')
        meta(property='og:title'       content='GROUPOЇD')
        meta(property='og:description' content='NOTES')
        meta(property='og:type'        content='website')
        meta(property='fb:app_id'      content='118554188236439')
        meta(property='og:url'         content='https://groupoid.space')
        link(rel='stylesheet' href='https://groupoid.space/main.css?v=6')
        block title
            title GROUPOЇD
    body.content
        block content
        block vars

block content
    nav
        <a href='https://etale.space'>ÉTALE</a>
        <a href='https://sheaf.space'>SHEAF</a>
        <a href='https://groupoid.space'>GROUPOЇD</a>
    article.main
        .om
            section
                h1 Foundations
                p.
                    The series of notes about MLTT and Foundations.
                p.
                    10 OCT 2016 &mdash; <a href='https://phd.5ht.co/pts/pure/index.html'>Pure Type System</a><br>
                    3 AUG 2017 &mdash; <a href='mltt/types/index.html'>Mathematical Components</a><br>
                    19 OCT 2017 &mdash; <a href='https://phd.5ht.co/mltt/inductive/index.html'>Recursion Schemes</a><br>

                h1 Homotopy Theory
                p.
                    The series of notes on Homotopy Type Theory.
                p.
                    10 OCT 2017 &mdash; <a href='mltt/iso/index.html'>Isomorphism</a><br>
                    30 DEC 2018 &mdash; <a href='mltt/equiv/index.html'>Equivalence</a><br>
                    20 JUN 2017 &mdash; <a href='mltt/hopf/index.html'>Hopf Fibrations</a><br>

                h1 Base Library
                p.
                    The examples of base library man pages.
                p.
                    16 JUL 2017 &mdash; <a href='mltt/types/pi/index.html'>Pi</a><br>
                     5 NOV 2017 &mdash; <a href='mltt/types/category/index.html'>Category</a><br>
                    20 MAY 2018 &mdash; <a href='mltt/types/bundle/index.html'>Bundle</a><br>
                    25 JUL 2018 &mdash; <a href='mltt/types/path/index.html'>Path</a><br>
                    25 JUL 2018 &mdash; <a href='mltt/types/cw/index.html'>CW Complex</a><br>
                    22 JAN 2019 &mdash; <a href='mltt/types/homology/index.html'>Homology</a><br>

                h1 Articles
                p.
                    The series of articles on foundation and mathematics of Homotopy Type Theory.
                p.
                    &mdash; <a href='tex/articles/mltt/mltt.pdf'>Issue I: Internalizing MLTT</a><br>
                    &mdash; <a href='tex/articles/hott/hott.pdf'>Issue III: Homotopy Type Theory</a><br>
                    &mdash; <a href='tex/articles/topos/topos.pdf'>Issue VIII: Formal Set Topos</a><br>
                    &mdash; <a href='tex/articles/pts/pts.pdf'>Addendum I: Pure Type System</a><br>
                    &mdash; <a href='tex/articles/equ/equ.pdf'>Addendum II: Many Faces of Equality</a><br>


    include footer