extends layout.pug

block title
    title Inf

block content
    +header('/groupoid.svg', 'Groupoid Infinity', '<b>Inf</b> &mdash; Language with Dependent Types on top of Trusted &lambda;&nbsp;Core with Changeable Encodings<br>and Extraction to Untyped Lambda Interpreter')
    article.main
        .index
            .index__col
                h2 Specification
                ul
                    li 1 <a href='/inf' class='link'> inf language</a>
                    li 2 <a href='/types' class='link'> base library</a>
                    li 3 <a href='/om' class='link'> trusted om core</a>
                    li 4 <a href='/extract' class='link'> extract targets</a>
            .index__col
                h2 Articles
                ul
                    li 15 FEB 16 <a href='/intro'> intro</a>
                    li 1 MAY 16 <a href='/enc'> lambek encoding</a>
                    li 4 AUG 16 <a href='/semantics'> type judgment rules</a>
                    li 18 MAR 16 <a href='/status'> project status</a>
            .index__col
                h2 Papers
                ul
                    li 13 AUG 16 <a href='http://github.com/groupoid/exe/blob/master/doc/identity.pdf'>identities</a>
                    li 4 SEP 16 <a href='http://github.com/groupoid/exe/blob/master/doc/encoding.pdf'>encoding</a>
                    li &nbsp;
                    li &nbsp;
                    li &nbsp;
