doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport'        content='width=device-width, initial-scale=1')
        meta(name='author'          content='Maxim Sokhatsky')
        meta(name='twitter:site'    content='@5HT')
        meta(name='twitter:creator' content='@5HT')
        meta(property='og:title'       content='GROUPOЇD')
        meta(property='og:description' content='NOTES')
        meta(property='og:type'        content='website')
        meta(property='fb:app_id'      content='118554188236439')
        meta(property='og:url'         content='https://groupoid.space')
        link(rel='stylesheet' href='https://groupoid.space/main.css')
        block title
            title GROUPOЇD
    body.content
        block content
        block vars

block content
    article.main
        .om
            section
                h1 Foundations
                p.
                    The official Groupoid Infinity pages of PTS<sup>&infin;</sup> and HTS<sup>&infin;</sup> languages and its base library.
                p.
                    10 OCT 2016 &mdash; <a href='https://phd.5ht.co/pts/'>Pure Type System</a><br>
                    6  JUL 2018 &mdash; <a href='https://phd.5ht.co/hts/'>Homotopy Type System</a><br>
                    3  AUG 2018 &mdash; <a href='math/'>Formal Mathematics</a><br>

                h1 Notes
                p.
                    The series of notes on Homotopy Theory, Category Theory, Topos Theory, Sheaf Theory and Differential Geometry, formalized in HTS<sup>&infin;</sup>.
                p.
                    10 OCT 2017 &mdash; <a href='math/iso/'>Isomorphism</a><br>
                    19 OCT 2017 &mdash; <a href='math/inductive/'>Inductive Data Types</a><br>
                    20 JUN 2017 &mdash; <a href='math/hopf/'>Hopf Fibrations</a><br>
                     9 AUG 2018 &mdash; <a href='math/topos/'>Formal Set Topos</a><br>
                    30 DEC 2018 &mdash; <a href='math/equiv/'>Equivalence</a><br>
                    13 JAN 2019 &mdash; <a href='math/presheaf/'>Presheaf Type Theories</a><br>
                    15 JAN 2019 &mdash; <a href='math/limits/'>Homotopy Limits</a><br>
                    15 JAN 2019 &mdash; <a href='math/disc/'>Differential Geometry</a><br>
                    17 JAN 2019 &mdash; <a href='math/derham/'>de Rham Cohesion</a><br>

                h1 Base Library
                p.
                    The examples of HTS<sup>&infin;</sup> base library man pages.
                p.
                    16 JUL 2017 &mdash; <a href='core/pi/'>Pi</a><br>
                    25 JUL 2018 &mdash; <a href='core/path/'>Path</a><br>
                     5 NOV 2017 &mdash; <a href='math/category/'>Category</a><br>
                    20 MAY 2018 &mdash; <a href='math/bundle/'>Bundle</a><br>
                    25 JUL 2018 &mdash; <a href='math/cw/'>CW Complex</a><br>
                    22 JAN 2019 &mdash; <a href='math/homology/'>Homology</a><br>

                h1 Articles
                p.
                    The series of articles on foundation and mathematics of Homotopy Type Theory.
                p.
                    &mdash; <a href='tex/articles/mltt/mltt.pdf'>Issue I: Internalizing MLTT</a><br>
                    &mdash; <a href='tex/articles/hott/hott.pdf'>Issue III: Homotopy Type Theory</a><br>
                    &mdash; <a href='tex/articles/topos/topos.pdf'>Issue VIII: Formal Set Topos</a><br>
                    &mdash; <a href='tex/articles/pts/pts.pdf'>Addendum I: Pure Type System</a><br>
                    &mdash; <a href='tex/articles/equ/equ.pdf'>Addendum II: Many Faces of Equality</a><br>

    include footer