include header

html
    head
        meta(property='og:title'       content='GROUPOЇD')
        meta(property='og:description' content='Groupoїd Infinity')
        meta(property='og:url'         content='https://groupoid.space/')

block title
    title GROUPOЇD

block content
    article.main
        .exe
            section
            p.
                <a href="https://groupoid.space/institute/">Groupoid Infinity Institute</a> is doing formalization of mathematics
                in the formal programming languages <a href="https://anders.groupoid.space/">Anders</a> (CCHM/CHM/HTS), 
                <a href="https://dan.groupoid.space/">Dan</a> (sHoTT/GAP)
                and <a href="https://jack.groupoid.space/">Jack</a> (HHTT/JMTT).

        br
        <hr size=1>
        br
        .exe
            section
            h1 MATHEMATICS
            p.
                Mathematical theories, models and languages.
        .types
            -
                                              var logic = {

                        'Category Theory': { 'Categories': 'https://anders.groupoid.space/mathematics/categories/category/',
                                             'Functors, Adjunctions': 'https://anders.groupoid.space/mathematics/categories/functor/',
                                             'Natural Transformations': '',
                                             'Kan Extensions' : '',
                                             '(Co)limits': '',
                                             'Universal Properties' : '',
                                             'Structure Identity Principle' : '' },

                           'Topos Theory': { 'Topology' : '',
                                             'Coverings' : '',
                                             'Grothendieck Topology' : 'https://anders.groupoid.space/mathematics/categories/topos/',
                                             'Grothendieck Topos' : '',
                                             'Geometric Morphisms': '',
                                             'Elementary Topos': '' },

                               'Geometry': { 'Nisnevich Site' : '',
                                             'Zariski Site' : '',
                                             'Theory of Schemes' : '',
                                             'Noetherian Scheme' : '',
                                             'A¹-Homotopy Theory' : '',
                                             'Cohesive Topos' : '',
                                             'Etale Topos': '',
                                             'Local Homotopy Theory': '' }}; var algebra = {

                   'Algebraic Systems':    { 'Algebraic structure' : 'https://anders.groupoid.space/mathematics/algebra/algebra/',
                                             'Group, Subgroup' : '',
                                             'Normal Group' : '',
                                             'Factorgroup' : '',
                                             'Abelian Group' : '',
                                             'Ring' : '',
                                             'Module' : '',
                                             'Field Theory' : '',
                                             'Linear Algebra' : '',
                                             'Lie, Leibniz Algebra' : '',
                                           },

                    '(Co)Homotopy Theory': { 'Pullback' : 'https://anders.groupoid.space/mathematics/homotopy/pullback/',
                                             'Pushout' : 'https://anders.groupoid.space/mathematics/homotopy/pushout/',
                                             'Limit, Fiber' : 'https://anders.groupoid.space/mathematics/geometry/bundle/',
                                             'Suspension, Loop' : '',
                                             'Smash, Wedge, Join' : '',
                                             'H-(co)spaces' : '',
                                             'Eilenberg-MacLane Spaces' : '',
                                             'Cell Complexes' : '',
                                             '(Co)Homotopy' : '',
                                             'Hopf Invariant' : '' },

                    '(Co)Homology Theory': { 'Chain Complex' : '',
                                             '(Co)Homology' : 'https://anders.groupoid.space/mathematics/algebra/homology/',
                                             'Stinrod Axioms' : '',
                                             'Hom and Tensor' : '',
                                             'Resolutions' : '',
                                             'Derived Cat, Fun' : '',
                                             'Tor, Ext and Local Cohomology' : '',
                                             'Homological Algebra' : '',
                                             'Cohomology Operations' : '' } }; var foundations = {

                 'Categorical Models': { 'Homotopical Algebra' : '',
                                             'Presheaf Type Theory' : 'https://anders.groupoid.space/mathematics/categories/presheaf/',
                                             'Set Quillen model' : 'https://tonpa.guru/stream/2020/2020-05-03 Модельні категорії.htm',
                                             'Top Quillen model' : 'https://tonpa.guru/stream/2020/2020-05-03 Модельні категорії.htm',
                                             'sSet Quillen model' : 'https://tonpa.guru/stream/2020/2020-05-03 Модельні категорії.htm',
                                             'Pi Presheaf' : 'https://anders.groupoid.space/mathematics/categories/presheaf/',
                                             'Sigma Presheaf' : 'https://anders.groupoid.space/mathematics/categories/presheaf/',
                                             'sSet Presheaf' : 'https://anders.groupoid.space/mathematics/categories/presheaf/',
                                             'I Presheaf' : 'https://anders.groupoid.space/mathematics/categories/presheaf/' },

                           'Type Systems': { 'PTS/CoC/AUT68' : 'https://henk.groupoid.space/',
                                             'MLTT-80/CiC' : 'https://per.groupoid.space/',
                                             'CCHM/CHM/HTS' : 'https://anders.groupoid.space/',
                                             'sHoTT/DKTT/GAP' : 'https://dan.groupoid.space/',
                                             'HHTT/JMTT' : 'https://jack.groupoid.space/' }
                                          };

            br
            br
            .type
                for v, k in algebra
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li: b()= i
                            else
                                li: a(href= j)= i
            br
            br
            .type
                for v, k in logic
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li: b()= i
                            else
                                li: a(href= j)= i
            br
            br
            .type
                for v, k in foundations
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li: b()= i
                            else
                                li: a(href= j)= i

        .exe
            section

            h1 HOMOTOPY LIBRARY
            p.
                Homotopy Library for <a href="https://anders.groupoid.space/">Anders</a>
                theorem prover consists of two parts Foundations and Mathematics just
                as <a href="https://homotopytypetheory.org/book/">HoTT Book</a>.

            h2 Foundations
            p.
                MLTT, Modal and Univalent Foundations represent a basic
                language primitives of <b>Anders</b> and its base library.

            section
                .macro
                    .macro__col
                        h3#mltt <b>MLTT</b>
                        ol
                            li: <a href='https://anders.groupoid.space/foundations/mltt/pi/'>Π</a>, <a href='https://anders.groupoid.space/foundations/mltt/sigma/'>Σ</a>, <a href='https://anders.groupoid.space/foundations/mltt/id/'>=</a>
                            li: <a href='https://anders.groupoid.space/foundations/mltt/inductive/'>0, 1, 2, W</a>
                            li: <a href='https://anders.groupoid.space/foundations/mltt/either/'>+</a>, <a href='https://anders.groupoid.space/foundations/mltt/maybe/'>1+</a>
                            li: <a href='https://anders.groupoid.space/foundations/mltt/nat/'>N</a>, <a href='https://anders.groupoid.space/foundations/mltt/list/'>LIST</a>
                            li: <a href='https://anders.groupoid.space/foundations/mltt/fin/'>FIN</a>, <a href='https://anders.groupoid.space/foundations/mltt/vec/'>VEC</a>

                    .macro__col
                        h3#modal <b>MODAL</b>
                        ol
                            li: a(href='https://anders.groupoid.space/foundations/modal/process/') PROCESS
                            li: a(href='https://anders.groupoid.space/foundations/modal/infinitesimal/') INFINITESIMAL
                            li: a(href='https://anders.groupoid.space/foundations/modal/localization/') LOCALIZATION

                    .macro__col
                        h3#univalent <b>UNIVALENT</b>
                        ol
                            li: a(href='https://anders.groupoid.space/foundations/univalent/path/') PATH
                            li: a(href='https://anders.groupoid.space/foundations/univalent/glue/') GLUE
                            li: a(href='https://anders.groupoid.space/foundations/univalent/equiv/') EQUIV
                            li: a(href='https://anders.groupoid.space/foundations/univalent/funext/') FUNEXT
                            li: a(href='https://anders.groupoid.space/foundations/univalent/iso/') ISO

            h2 Mathematics
            p.
                The second part is dedicated to mathematical models and theories internalized in this language.

            section
                .macro
                    .macro__col
                        h3#categories <b>ANALYSIS</b>
                        ol
                            li: <a href='https://anders.groupoid.space/mathematics/analysis/topology/'>TOPOLOGY</a>
                            li: <a href='https://anders.groupoid.space/mathematics/analysis/set/'>SET</a>
                            li: <a href='https://anders.groupoid.space/mathematics/analysis/rational/'>ℚ</a>,
                                <a href='https://anders.groupoid.space/mathematics/analysis/real/'>ℝ</a>
                            li: <a href='https://anders.groupoid.space/mathematics/analysis/complex/'>ℂ</a>,
                                <a href='https://anders.groupoid.space/mathematics/analysis/quatro/'>ℍ</a>,
                                <a href='https://anders.groupoid.space/mathematics/analysis/octo/'>𝕆</a>

                    .macro__col
                        h3#algebra <b>ALGEBRA</b>
                        ol
                            li: a(href='https://anders.groupoid.space/mathematics/algebra/group/') GROUP
                            li: a(href='https://anders.groupoid.space/mathematics/algebra/algebra/') ALGEBRA
                            li: a(href='https://anders.groupoid.space/mathematics/algebra/homology/') HOMOLOGY

                    .macro__col
                        h3#geometry <b>GEOMETRY</b>
                        ol
                            li: a(href='https://anders.groupoid.space/mathematics/geometry/etale/') ETALE
                            li: a(href='https://anders.groupoid.space/mathematics/geometry/bundle/') BUNDLE
                            li: a(href='https://anders.groupoid.space/mathematics/geometry/manifold/') MANIFOLD
                            li: a(href='https://anders.groupoid.space/mathematics/geometry/derham/') DE RHAM


            section
                .macro
                    .macro__col
                        h3#homotopy <b>HOMOTOPY</b>
                        ol
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/coequalizer/') COEQUALIZER
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/pushout/') PUSHOUT
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/pullback/') PULLBACK
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/hopf/') HOPF
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/cw/') CW

                    .macro__col
                        h3#categories <b>CATEGORIES</b>
                        ol
                            li: a(href='https://anders.groupoid.space/mathematics/categories/category/') CATEGORY
                            li: a(href='https://anders.groupoid.space/mathematics/categories/functor/') FUNCTOR
                            li: a(href='https://anders.groupoid.space/mathematics/categories/groupoid/') GROUPOID
                            li: a(href='https://anders.groupoid.space/mathematics/categories/topos/') TOPOS
                            li: a(href='https://anders.groupoid.space/mathematics/categories/presheaf/') PRESHEAF
            br.
            p.
                 The base library for <b>cubicaltt</b> is given on separate page:
                 <a href='https://groupoid.space/misc/library/'>Formal Mathematics: The Cubical Base Library</a><br>

            h1 Languages
            p.
                Non-dependent languages are targets or runtimes, and dependently typed language are provers.

            h2 Verification
            p.
                Theorem provers for logic, lambda encodings exploration and homotopy calculus.
            p.
                05 APR 2022 &mdash; <a href='https://alonzo.groupoid.space/'>Alonzo: STLC</a><br>
                10 OCT 2016 &mdash; <a href='https://henk.groupoid.space/'>Henk: System P<sub>ω</sub></a><br>
                02 JUN 2022 &mdash; <a href='https://per.groupoid.space/'>Per: MLTT</a><br>
                26 JAN 2022 &mdash; <a href='https://anders.groupoid.space/'>Anders: Modal HoTT</a><br>

            h2 Runtime
            p.
                Runtimes and effect type systems.
            p.
                31 DEC 2016 &mdash; <a href='runtime/cps/'>Certified CPS</a><br>
                31 DEC 2016 &mdash; <a href='runtime/intercore/'>Intercore MP</a><br>
                10 OCT 2016 &mdash; <a href='runtime/effects/'>Effects IOI/IO</a><br>
                10 OCT 2016 &mdash; <a href='runtime/ftl/'>Formal Tensor FTL</a><br>

            h1 Lecture Notes
            p.
                The series of articles on foundation and mathematics of Homotopy Type Theory.
            p.
                &mdash; <a href='articles/mltt/mltt.pdf'>Issue I: Internalizing MLTT</a><br>
                &mdash; <a href='articles/hott/hott.pdf'>Issue III: Homotopy Type Theory</a><br>
                &mdash; <a href='articles/topos/topos.pdf'>Issue VIII: Formal Set Topos</a><br>
                &mdash; <a href='articles/pts/pts.pdf'>Addendum I: Pure Type System</a><br>
                &mdash; <a href='articles/equ/equ.pdf'>Addendum II: Many Faces of Equality</a><br>
            p.
                <!-- Groupoid Infinity granted <a href="https://groupoid.space/misc/internship/">Internship Program</a>. <br -->
                Groupoid Infinity is opening <a href="https://groupoid.space/institute/">Applied Math Institute</a>.

hr
include footer
