extends layout.pug

block title
    title Inf

block content
    +header('http://groupoid.space/groupoid.svg', 'Groupoid Infinity', '<b>Inf</b> &mdash; Language with Dependent Types on top of Trusted &lambda;&nbsp;Core with Changeable Encodings<br>and Extraction to Untyped Lambda Interpreter')
    article.main
        .index
            .index__col
                h2 Specification
                ol
                    li: a(href='/inf') inf language
                    li: a(href='/types') base library
                    li: a(href='/om') trusted om core
                    li: a(href='/extract') extract targets
            .index__col
                h2 Articles
                ul
                    li 17 JAN 17 <a href='/hnc'>HN Language</a>
                    li 15 JAN 17 <a href='/hnc'>System F targets</a>
                    li 4 AUG 16 <a href='/semantics'> type judgment rules</a>
                    li 1 MAY 16 <a href='/enc'> lambek encoding</a>
                    li 18 MAR 16 <a href='/status'> project status</a>
                    li 15 FEB 16 <a href='/intro'> intro</a>
            .index__col
                h2 Papers
                ul
                    li 13 AUG 16 #[a(href='http://github.com/groupoid/exe/blob/master/doc/identity.pdf') identities ]
                    li 4 SEP 16 #[a(href='http://github.com/groupoid/exe/blob/master/doc/encoding.pdf') encoding ]
