doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport'        content='width=device-width, initial-scale=1')
        meta(name='author'          content='Maxim Sokhatsky')
        meta(name='twitter:site'    content='@5HT')
        meta(name='twitter:creator' content='@5HT')
        meta(property='og:title'       content='GROUPOЇD')
        meta(property='og:description' content='Groupoid Infinity')
        meta(property='og:type'        content='website')
        meta(property='fb:app_id'      content='118554188236439')
        meta(property='og:url'         content='https://groupoid.space')
        link(rel='stylesheet' href='https://groupoid.space/main.css')
        block title
            title GROUPOЇD
    body.content
        block content
        block vars

block content
    article.main
        .exe
            section
            p.
                <b>Groupoid</b> is doing formalization of mathematics
                   in the formal programming language called <b>Anders</b> <a href="https://opam.ocaml.org/packages/anders/">1.1.1</a>,
                   a CCHM/HTS variant of <a href="https://cubical.systems">cubical type systems</a>.

        br
        <hr size=1>
        br
        .exe
            section
            p.
                Mathematical theories, models and languages:
            h1 MATHEMATICS
        .types
            -
                                              var logic = {

                        'Category Theory': { 'Categories': 'mathematics/categories/category/',
                                             'Functors, Adjunctions': 'mathematics/categories/functor/',
                                             'Natural Transformations': '',
                                             'Kan Extensions' : '',
                                             '(Co)limits': '',
                                             'Universal Properties' : '',
                                             'Structure Identity Principle' : '' },

                           'Topos Theory': { 'Topology' : '',
                                             'Coverings' : '',
                                             'Grothendieck Topology' : 'mathematics/topoi/topos/',
                                             'Grothendieck Topos' : '',
                                             'Geometric Morphisms': '',
                                             'Elementary Topos': '' },

                               'Geometry': { 'Nisnevich Site' : '',
                                             'Zariski Site' : '',
                                             'Theory of Schemes' : '',
                                             'Noetherian Scheme' : '',
                                             'A¹-Homotopy Theory' : '',
                                             'Cohesive Topos' : '',
                                             'Etale Topos': '',
                                             'Local Homotopy Theory': '' }}; var algebra = {

                   'Algebraic Systems':    { 'Algebraic structure' : 'mathematics/algebra/algebra/',
                                             'Group, Subgroup' : '',
                                             'Normal Group' : '',
                                             'Factorgroup' : '',
                                             'Abelian Group' : '',
                                             'Ring' : '',
                                             'Module' : '',
                                             'Field Theory' : '',
                                             'Linear Algebra' : '',
                                             'Lie, Leibniz Algebra' : '',
                                           },

                    '(Co)Homotopy Theory': { 'Pullback' : 'mathematics/homotopy/pullback/',
                                             'Pushout' : 'mathematics/homotopy/pushout/',
                                             'Limit, Fiber' : 'mathematics/geometry/bundle/',
                                             'Suspension, Loop' : '',
                                             'Smash, Wedge, Join' : '',
                                             'H-(co)spaces' : '',
                                             'Eilenberg-MacLane Spaces' : '',
                                             'Cell Complexes' : '',
                                             '(Co)Homotopy' : '',
                                             'Hopf Invariant' : '' },

                    '(Co)Homology Theory': { 'Chain Complex' : '',
                                             '(Co)Homology' : 'mathematics/algebra/homology/',
                                             'Stinrod Axioms' : '',
                                             'Hom and Tensor' : '',
                                             'Resolutions' : '',
                                             'Derived Cat, Fun' : '',
                                             'Tor, Ext and Local Cohomology' : '',
                                             'Homological Algebra' : '',
                                             'Cohomology Operations' : '' } }; var foundations = {


                 'Categorical Models': { 'Homotopical Algebra' : '',
                                             'Presheaf Type Theory' : 'mathematics/topoi/presheaf/',
                                             'Set Quillen model' : 'https://tonpa.guru/stream/2020/2020-05-03%20%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%20%D0%BA%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8.htm',
                                             'Top Quillen model' : 'https://tonpa.guru/stream/2020/2020-05-03%20%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%20%D0%BA%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8.htm',
                                             'sSet Quillen model' : 'https://tonpa.guru/stream/2020/2020-05-03%20%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%20%D0%BA%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D0%B8.htm',
                                             'Pi Presheaf' : 'mathematics/topoi/presheaf/',
                                             'Sigma Presheaf' : 'mathematics/topoi/presheaf/',
                                             'sSet Presheaf' : 'mathematics/topoi/presheaf/',
                                             'I Presheaf' : 'mathematics/topoi/presheaf/' },

                           'Type Systems': { 'Principia' : 'https://principia.groupoid.space',
                                             'PTS' : 'https://groupoid.space/pure',
                                             'CCHM HTS' : 'https://groupoid.space/homotopy',
                                             'HoTT-I' : 'https://github.com/groupoid/hurricane',
                                             'HoTT-∂' : 'https://github.com/groupoid/castle.bravo',
                                           }

                                          };

            br
            br
            .type
                for v, k in algebra
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li: b()= i
                            else
                                li: a(href= j)= i
            br
            br
            .type
                for v, k in logic
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li: b()= i
                            else
                                li: a(href= j)= i
            br
            br
            .type
                for v, k in foundations
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li: b()= i
                            else
                                li: a(href= j)= i

        .exe
            section
            h1 PROGRAMMING
            p.
                Groupoid Infinity theoretical environment comes with <b>Smiling Buddha</b> cubical base library
                as a part of <b>Anders</b> theorem prover for Modal HoTT.

            h2 Foundations
            p.
                MLTT, Modal and Univalent Foundations represent a basic
                language primitives of <b>Anders</b> and its base library.

            section
                .macro
                    .macro__col
                        h3#mltt <b>MLTT</b>
                        ol
                            li: a(href='https://groupoid.space/foundations/mltt/pi/') PI
                            li: a(href='https://groupoid.space/foundations/mltt/sigma/') SIGMA
                            li: a(href='https://groupoid.space/foundations/mltt/id/') ID
                            li: a(href='https://groupoid.space/foundations/mltt/induction/') 0, 1, 2
                            li: a(href='https://groupoid.space/foundations/mltt/w/') W
                            li: a(href='https://groupoid.space/foundations/mltt/either/') EITHER
                            li: a(href='https://groupoid.space/foundations/mltt/maybe/') MAYBE
                            li: a(href='https://groupoid.space/foundations/mltt/nat/') NAT
                            li: a(href='https://groupoid.space/foundations/mltt/list/') LIST
                            li: a(href='https://groupoid.space/foundations/mltt/fin/') FIN
                            li: a(href='https://groupoid.space/foundations/mltt/vec/') VEC
                    .macro__col
                        h3#modal <b>MODAL</b>
                        ol
                            li: a(href='https://groupoid.space/foundations/modal/derham/') DERHAM
                            li: a(href='https://groupoid.space/foundations/modal/process/') PROCESS
                            li: a(href='https://groupoid.space/foundations/modal/infinitesimal/') INFINITESIMAL
                    .macro__col
                        h3#univalent <b>UNIVALENT</b>
                        ol
                            li: a(href='https://groupoid.space/foundations/univalent/equiv/') EQUIV
                            li: a(href='https://groupoid.space/foundations/univalent/iso/') ISO
                            li: a(href='https://groupoid.space/foundations/univalent/funext/') FUNEXT
                            li: a(href='https://groupoid.space/foundations/univalent/path/') PATH
                            li: a(href='https://groupoid.space/foundations/univalent/glue/') GLUE

            h2 Mathematics
            p.
                In the spirit of HoTT book the second part is dedicated to mathematical models
                and theories internilized in this language.

            section
                .macro
                    .macro__col
                        h3#algebra <b>ALGEBRA</b>
                        ol
                            li: a(href='https://groupoid.space/mathematics/algebra/algebra/') ALGEBRA
                            li: a(href='https://groupoid.space/mathematics/algebra/homology/') HOMOLOGY
                    .macro__col
                        h3#geometry <b>GEOMETRY</b>
                        ol
                            li: a(href='https://groupoid.space/mathematics/geometry/etale') ETALE
                            li: a(href='https://groupoid.space/mathematics/geometry/bundle') BUNDLE
                            li: a(href='https://groupoid.space/mathematics/geometry/manifold') MANIFOLD
                    .macro__col
                        h3#categories <b>META</b>
                        ol
                            li: a(href='https://groupoid.space/mathematics/meta/awodey/') AWODEY
                            li: a(href='https://groupoid.space/mathematics/meta/kraus/') KRAUS
                            li: a(href='https://groupoid.space/mathematics/meta/favonia/') FAVONIA
            section
                .macro
                    .macro__col
                        h3#homotopy <b>HOMOTOPY</b>
                        ol
                            li: a(href='https://groupoid.space/mathematics/homotopy/coequalizer/') COEQUALIZER
                            li: a(href='https://groupoid.space/mathematics/homotopy/pushout/') PUSHOUT
                            li: a(href='https://groupoid.space/mathematics/homotopy/pullback/') PULLBACK
                            li: a(href='https://groupoid.space/mathematics/homotopy/hopf/') HOPF
                            li: a(href='https://groupoid.space/mathematics/homotopy/cw/') CW
                    .macro__col
                        h3#categories <b>CATEGORIES</b>
                        ol
                            li: a(href='https://groupoid.space/mathematics/categories/category/') CATEGORY
                            li: a(href='https://groupoid.space/mathematics/categories/functor/') FUNCTOR
                            li: a(href='https://groupoid.space/mathematics/categories/groupoid/') GROUPOID
                    .macro__col
                        h3#categories <b>TOPOI</b>
                        ol
                            li: a(href='https://groupoid.space/mathematics/topoi/topos/') TOPOS
                            li: a(href='https://groupoid.space/mathematics/topoi/presheaf/') PRESHEAF

            p.
                 The base library for <b>cubicaltt</b> is given on separate page:
                 <a href='https://groupoid.space/misc/library/'>Formal Mathematics: The Cubical Base Library</a><br>

            h1 Languages
            p.
                Non-dependent languages are targets or runtimes, and dependently typed language are provers.

            h2 Runtime
            p.
                Runtimes and effect type systems.
            p.
                31 DEC 2016 &mdash; <a href='runtime/cps/'>Certified CPS Interpreter</a><br>
                31 DEC 2016 &mdash; <a href='runtime/intercore/'>Intercore SMP Protocol</a><br>
                10 OCT 2016 &mdash; <a href='runtime/effects/'>Effect Type System</a><br>
                10 OCT 2016 &mdash; <a href='runtime/apl/'>Array Processing Language</a><br>

            h2 Verification
            p.
                Theorem provers for logic, lambda encodings exploration and homotopy calculus.
            p.
                10 OCT 2016 &mdash; <a href='pure/'>Om: Pure Type System</a><br>
                26 JAN 2022 &mdash; <a href='homotopy/'>Anders: Modal Homotopy Type System</a><br>
                26 JAN 2022 &mdash; <a href='https://groupoid.github.io/castle.bravo'>Castle Bravo: HoTT-∂ Type System</a><br>
                26 JAN 2022 &mdash; <a href='https://groupoid.github.io/hurricane'>Hurricane: HoTT-I Type System</a><br>
                19 JAN 2020 &mdash; <a href='https://principia.groupoid.space'>Principia System</a><br>

            h1 Lecture Notes
            p.
                The series of articles on foundation and mathematics of Homotopy Type Theory.
            p.
                &mdash; <a href='articles/mltt/mltt.pdf'>Issue I: Internalizing MLTT</a><br>
                &mdash; <a href='articles/hott/hott.pdf'>Issue III: Homotopy Type Theory</a><br>
                &mdash; <a href='articles/topos/topos.pdf'>Issue VIII: Formal Set Topos</a><br>
                &mdash; <a href='articles/pts/pts.pdf'>Addendum I: Pure Type System</a><br>
                &mdash; <a href='articles/equ/equ.pdf'>Addendum II: Many Faces of Equality</a><br>
            p.
                Groupoid Infinity is opening <a href="https://groupoid.space/institute/">Applied Math Institute</a>.<br>
                Groupoid Infinity is granted <a href="https://groupoid.space/misc/internship/">Internship Program</a>.

hr
include footer
