@font-face {
  font-family: 'local';
  src: url("/Geometria-Light.otf");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

sub,
sup {
  font-size: 80%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

html {
  height: 100%; }

body {
  min-height: 100%; }

h1, h2, h3, h4 {
  font-weight: normal; }

ul {
  list-style-type: none; }

ol,
ul {
  text-align: left;
  line-height: 1.5; }

img, figure {
  vertical-align: middle; }

.content {
  min-height: 100%;
  font-family: local;
  display: flex;
  flex-direction: column;
  position: relative; }

.main {
  color: #586E75;
  background: #FBFBFB;
  padding: 50px 0px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3), 0 -3px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  flex: 1 1 auto; }

figure {
  max-width: 100%;
  overflow-x: auto;
  padding: 10px 2px;
  font-size: 18px;
  display: block; }

h2 {
  font-size: 24px;
  color: #268BD2;
  margin: 34px 0 8px; }
  @media (min-width: 768px) {
    h2 {
      font-size: 32px; } }

h3 {
  max-width: 100%;
  margin: 16px auto 0;
  width: 650px;
  padding: 0 0 0 8px;
  text-transform: uppercase;
  text-align: left;
  font-size: 22px; }

p {
  max-width: 100%;
  width: 650px;
  margin: auto;
  padding: 8px;
  text-align: left;
  font-size: 18px;
  line-height: 1.4; }
  @media (min-width: 768px) {
    p {
      font-size: 22px; } }

p:hover {
  background: white; }

mark {
  background: #FDF6E3;
  padding: 0px 2px;
  border-radius: 2px;
  color: #586E75; }

a {
  color: #3A98C8;
  text-decoration: none; }
  a:visited {
    color: #3A98C8; }
  a:hover {
    color: #D33682; }
  a:active {
    color: #D33682; }

aside {
  max-width: 650px;
  margin: auto;
  padding: 8px;
  font-size: 20px;
  text-align: right; }
  aside time, aside div {
    display: block; }

.header {
  background: black;
  color: white;
  position: relative;
  min-height: 450px;
  padding: 16px 8px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 5; }
  .header__logo {
    width: 150px;
    position: relative; }
  .header__titles {
    position: relative;
    max-width: 800px;
    margin: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); }
  .header__title {
    font-size: 48px;
    line-height: 1.1; }
  .header__subtitle {
    font-size: 22px; }
  @media (min-width: 768px) {
    .header {
      flex-direction: row; }
      .header__logo {
        width: 200px;
        margin-right: 20px; }
      .header__title {
        font-size: 60px; }
      .header__subtitle {
        font-size: 30px; } }

.footer {
  width: 100%;
  padding: 15px;
  background: #cbe3f4;
  color: #282828;
  text-align: center; }
  .footer__logo {
    width: 50px;
    margin-right: 20px; }
  .footer__copy {
    font-size: 14px;
    white-space: pre; }
  @media (min-width: 768px) {
    .footer__copy {
      font-size: 20px; } }

.semantics {
  text-align: center; }
  .semantics figure {
    display: inline-block;
    font-size: 13px; }
    @media (min-width: 800px) {
      .semantics figure {
        font-size: 16px; } }
  .semantics h1 {
    color: #7D8A96;
    font-size: 32px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-bottom: 8px; }
  .semantics section {
    margin-top: 40px; }

.intro {
  width: 650px;
  max-width: 100%;
  margin: auto; }

.status {
  text-align: left;
  display: inline-block;
  padding-left: 32px; }
  .status ol {
    line-height: 1.5;
    font-size: 18px; }
    @media (min-width: 768px) {
      .status ol {
        font-size: 22px; } }

.resources {
  max-width: 650px;
  margin: 32px auto 0;
  text-align: left;
  padding: 8px; }
  .resources__title {
    display: inline-block;
    margin-bottom: 10px;
    color: #7D8A96;
    font-size: 32px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    @media (min-width: 768px) {
      .resources__title {
        font-size: 40px; } }
  .resources__list {
    padding-left: 32px;
    line-height: 1.5;
    font-size: 18px; }
    @media (min-width: 768px) {
      .resources__list {
        font-size: 22px; } }

.index {
  display: inline-block;
  padding: 20px 0;
  font-size: 20px; }
  .index__col {
    padding: 5px 2vw; }
  .index a {
    text-transform: uppercase;
    line-height: 1.8; }
  .index h2 {
    font-size: 28px;
    text-align: left;
    margin-top: 16px; }
  .index ol {
    padding-left: 1.1em; }
  @media (min-width: 768px) {
    .index {
      font-size: 24px; }
      .index__col {
        display: inline-block;
        vertical-align: top; } }

.om section + section {
  margin-top: 50px; }

.om h1 {
  color: #7D8A96;
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-bottom: 32px; }
  @media (min-width: 768px) {
    .om h1 {
      font-size: 40px; } }

.om h1 + h2 {
  margin-top: 0px; }

.om h3 {
  max-width: 100%;
  margin: auto;
  width: 650px;
  padding: 16px 8px 0; }

.exe h1 {
  color: #7D8A96;
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 42px 0 10px; }
  @media (min-width: 768px) {
    .exe h1 {
      font-size: 40px; } }

.exe h1 + h2 {
  margin-top: 0px; }

.macro {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  width: 100%; }
  .macro__col {
    padding-left: 24px;
    line-height: 1.5;
    font-size: 14px; }
    .macro__col h3 {
      padding: 0;
      width: initial; }
    @media (min-width: 768px) {
      .macro__col {
        font-size: 22px; } }

@media (min-width: 920px) {
  .langf {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

.langf ol {
  display: inline-block;
  max-width: 650px;
  margin: auto;
  font-size: 20px;
  padding-left: 36px; }

@media (min-width: 920px) {
  .langf__col .langf-col:last-child {
    white-space: pre;
    margin-left: 20px; } }

.types {
  display: inline-block;
  text-align: left;
  max-width: 100%;
  padding: 0 8px; }
  .types h1 {
    color: #7D8A96;
    font-size: 32px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: 42px 0 10px; }
    @media (min-width: 768px) {
      .types h1 {
        font-size: 40px; } }
  .types section {
    max-width: 100%; }
  .types p {
    margin: 0;
    padding-left: 0; }
  .types h1 + h2 {
    margin-top: 0px; }
  .types .type {
    max-width: 660px;
    display: flex;
    flex-flow: row wrap; }
    .types .type__col {
      padding-left: 24px;
      flex: 1 0 50%; }
      .types .type__col h3 {
        width: initial;
        padding: 0;
        margin: 0; }
      @media (min-width: 600px) {
        .types .type__col {
          flex: 1 0 25%;
          font-size: 20px; } }
  .types .legend {
    margin: 20px auto 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    background: #FDF6E3;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }

.list h1 {
  color: #7D8A96;
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 42px 8px 10px; }
  @media (min-width: 768px) {
    .list h1 {
      font-size: 40px; } }

code {
  border: 1px solid rgba(50, 50, 93, 0.1);
  display: inline-block;
  overflow-x: auto;
  max-width: 100%;
  padding: 12px;
  margin: 8px 0;
  white-space: pre;
  text-align: left;
  border-radius: 4px;
  font-size: 14px;
  color: #00259c;
  background: white;
  box-shadow: 0 4px 8px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
  @media (min-width: 768px) {
    code {
      font-size: 17px; } }

.h__name {
  color: #00259c;
  font-weight: bold; }

.h__keyword {
  color: #ca30d4;
  text-decoration: underline; }

.h__symbol {
  color: #9f9fa3; }

canvas {
  max-width: 100%;
  position: absolute;
  z-index: -10; }
