section.resources
    h1.resources__title Resources
    ol.resources__list
        li.resources__item: a(href='https://gitter.im/groupoid/om/archives/') OM archives.
        li.resources__item: a(href='https://gitter.im/groupoid/exe/archives/') EXE archives.
        li.resources__item: a(href='https://github.com/groupoid/') GIT sources.
        li.resources__item: a(href='https://github.com/groupoid/exe') EXE git sources.

