extends layout.pug

block title
    title TEAM

block content
    +header('//groupoid.space/groupoid.svg', 'Groupoid Infinity', 'Contributors')
    article.main
        .om
            section
                h1 TEAM
                figure.
                    <img src="proger.jpg" width=200>&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="nponeccop.jpg" width=200>
                figure.
                    <img src="xgrommx.png" width=200>&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="esmolanka.jpg" width=200>
