include ../../header

html
    head
        meta(property='og:title'       content='INSTITUTE')
        meta(property='og:description' content='Інститут Прикладної Математики')
        meta(property='og:url'         content='https://groupoid.space/institute/')

block title
    title КА-121

block content
    +header('', 'Мовне забезпечення', 'Курси лекцій другого освітнього рівня КА-121')
    article.main
        .om
            section
                h1 КАФЕДРА МОВНОГО ЗАБЕЗПЕЧЕННЯ
            aside <span>Погодив</span>: <b>Максим Сохацький</b><br>
                <span>Код програми</span>: <b><a href="../">КА-121</a></b><br>
                <span>Кількість кредитів</span>: <b>120</b><br>

                h2 Курси кафедри
                .type
                    ol.type__col
                        li: a(href='01 Генератор компіляторів/') Генератор компіляторів
                        li: a(href='02 Інтерпретатори/') Інтерпретатори
                        li: a(href='03 Верифікація мікропроцесорів/') Верифікація мікропроцесорів
                        li: a(href='04 Верифікація ПЗ/') Верифікація ПЗ
                        li: a(href='05 Верифікація об`єктного коду/') Верифікація об`єктного коду
                        li: a(href='06 Теорія мов програмування/') Теорія мов програмування
                        li: a(href='07 Історія мов програмування/') Історія мов програмування

include ../../footer
