extends ../../../layout.pug

block title
    title IO

block content
    +header('../../../../groupoid.svg', 'Recursive I/O', 'I/O Library')
    article.main
        .om
            section
                h1 I/O Monads
        section
            p Recursive and Corecursive Free Monads.

            h2#io IO
            p Finite I/O
            code.
                data IO (A: Type): Type :=
                     (getLine: (String → IO) → IO)
                     (putLine: String → IO → IO)
                     (pure: A → IO)

            p Example:
            code.
                record Main: Type :=
                (main: IO.replicateM 100
                       (IO.>>= IO.data () IO.getLine IO.putLine))

