include ../../header

html
    head
        meta(property='og:title'       content='INSTITUTE')
        meta(property='og:description' content='Інститут Прикладної Математики')
        meta(property='og:url'         content='https://groupoid.space/institute/')

block title
    title КМ-113

block content
    +header('', 'Прикладна математика', 'Курси лекцій другого освітнього рівня КМ-113')
    article.main
        .om
            section
                h1 КАФЕДРА ПРИКЛАДНОЇ МАТЕМАТИКИ
            aside <span>Погодив</span>: <b>Максим Сохацький</b><br>
                <span>Код програми</span>: <b><a href="../">КМ-113</a></b><br>
                <span>Кількість кредитів</span>: <b>120</b><br>

                h2 Курси кафедри
                .type
                    ol.type__col
                        li: a(href='01-Дискретна-математика/') Дискретна математика
                        li: a(href='02-Математична-статистика/') Математична статистика
                        li: a(href='03-Формальні-логіки/') Формальні логіки
                        li: a(href='04-Комплексний-аналіз/') Комплексний аналіз
                        li: a(href='05-Чисельні-методи/') Чисельні методи
                        li: a(href='06-Математичний-аналіз/') Математичний аналіз
                        li: a(href='07-Функціональний-аналіз/') Функціональний аналіз
                        li: a(href='08-Звичайні диференційні-рівняння/') Звичайні диференційні рівняння
                        li: a(href='09-Диференційні-рівняння-в-частинних-похідних/') Диференційні рівняння в частинних похідних
                        li: a(href='10-Рівняння-математичної-фізики/') Рівняння математичної фізики

include ../../footer
