extends ../../../layout.pug

block title
    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
          jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
          TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          "HTML-CSS": { imageFont: null },
       });
    title КМ-111-02

block content
    +header('../../../groupoid.svg', 'Геометрія', 'Курс лекцій для студентів четвертого курсу кафедри чистої математики КМ-111-02')
    article.main
        .om
            aside <span>Автор</span>: <b>Шафаревич</b><br>
                <span>Код курсу</span>: <b><a href="../">КМ-111-02</a></b><br>
                <span>Кількість кредитів</span>: <b>12</b><br>
            section
                h1 Алгебраїчна геометрія
            section
                p.
                    Алгебраїчна геометрія &mdash; розділ математики про геометричні форми та їх властивості.

        .index
            .index__col
                ul
                    li: a(href='#') 1. Функції, многовиди, розмірності
                    li: a(href='#') 2. Локальні властивості
                    li: a(href='#') 3. Диференційні форми
                    li: a(href='#') 4. Індекси перетину
                    li: a(href='#') 5. Схеми
                    li: a(href='#') 6. Многовиди
                    li: a(href='#') 7. Топологія алегбраїчних многовидів
                    li: a(href='#') 8. Комплексні аналітичні многовиди
                    li: a(href='#') 9. Уніформізація
