doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport'        content='width=device-width, initial-scale=1')
        meta(name='author'          content='Maxim Sokhatsky')
        meta(name='twitter:site'    content='@5HT')
        meta(name='twitter:creator' content='@5HT')
        meta(property='og:title'       content='GROUPOЇD')
        meta(property='og:description' content='NCATLAB')
        meta(property='og:type'        content='website')
        meta(property='fb:app_id'      content='118554188236439')
        meta(property='og:url'         content='https://groupoid.space/ncatlab')
        link(rel='stylesheet' href='https://groupoid.space/main.css?v=4')
        block title
            title INTERNSHIP
    body.content
        block content
        block vars

block content
    article.main
        .om
            section
                h1 GROUPOЇD INTERNSHIP PROGRAM
                h2 Sponsorship Call for Submissions
                p.
                    This page is dedicated to the Groupoid Infinity student sponsorship.
                    Groupoid Infinity is a group of mathematicians who develop
                    the cubical base library for all main cubical type checkers
                    (cubicaltt, Arend, Agda, Lean, Anders), the home page of the project
                    is <a href="https://cubical.systems">cubical.systems</a>.
                p.
                    The main aim is to provide formal HoTT foundations for contemporary
                    math and have fun. Some parts are so new that we need a help of
                    strong mathematicians. Our areas of interests are: Sheaf Theory,
                    Infinity Category Theory, Differential Geometry, Cohesive Type
                    Theory, Algebraic Geometry, Homology, and Cohomology Theory,
                    Geometric Type Theory. Our community is mostly guided by
                    following literature: <a href="https://tonpa.guru/stream/2020/2020-04-26%20%D0%A3%D0%94%D0%9A%2051.htm">UDC 51</a>.
                p.
                    Our proposal is following. We want to provide $200/month budged
                    to volunteers porting terms to Anders theorem prover from cubicaltt and Agda.
                p.
                    Your responsibility will be to provide coverage of necessary
                    math foundations contributed to Anders base library,
                    formalize it in cubical type checkers and provide pull request to Github repository.
                    Please consider this as an art project, despite the cutting edge mathematics we are dealing with.
                    Our main motivation is to spread contemporary math around the world and to help students who want to deal
                    with cubical type checkers. As a side effect, we are expecting you to have fun as we do along the way.
                p.
                    Best regards<br>
                    &mdash; <a href="https://tonpa.guru">Namdak Tonpa</a><br>
                    &nbsp;&nbsp;&nbsp; Mail: <a href="mailto:maxim@synrc.com">maxim@synrc.com</a><br>
                    &nbsp;&nbsp;&nbsp; Telegram: <a href="https://t.me/tonpa">t.me/tonpa</a><br>

link(rel='stylesheet' href='https://groupoid.space/main.css?v=31')

footer.footer
    a(href='https://github.com/groupoid/')
        img.footer__logo(src='https://longchenpa.guru/seal.png',width=50)
    span.footer__copy 2016&mdash;2022 &copy; <a href="https://5ht.co/" style="color:Lavender;">Namdak Tönpa</a>
    script(src='https://groupoid.space/highlight.js?v=1')

