extends ../../../layout.pug

block title
    title EITHER

block content
    article.main.list
        section
            h1 either
            aside <a href="..">Base Library</a>
                time Published: 4 NOV 2017
            p.
                <a href="https://raw.githubusercontent.com/groupoid/infinity/master/priv/either.ctt">Either package</a>
                contains inductive data type definition representing Sum data type. It has
                or synonim.
            code.
                data either (A B: U) = left (a: A) | right (b: B)
                data or (A B: U) = inl (a: A) | inr (b: B)

