extends ../layout.pug

block title
    title Extract

block content
    +header('/groupoid.svg', 'Code Extraction', 'Groupoid Infinity Targets')
    article.main
        h2#erlang Interpreters
        p.
            From the practical point of view, we are developing Erlang with Dependent Types.
            Thus we carefully integrate into Erlang platform by the generation of Erlang AST
            and trying to be compatible with Erlang kernel through mapping of inductive types
            to underlying erlang primitives such as process, receive and spawn.
            Erlang extraction is sponsored and supported by Synrc Research Center.
            Other interpreter targets are also could be easily integrated.

        h2#llvm LLVM
        p.
            The other line of research is dedicated to evaluation of LLVM lambda generation.
            It could be direct MIR or LLVM generation, or we can generate Rust/C++ code that
            will bypass to LLVM optimizer. If you are interested in LLVM target, please take a look
            onto <a href="http://github.com/nponeccop/HNC">github.com/nponeccop/HNC</a>.

        p.
            <img src="http://groupoid.space/hnc/stack.png" width="85%" style="margin:50px;">
        h2#fpga FPGA
        p.
            We are highly interested in compilation to FPGA target.
            As was shown with interactions nets it is possible to compact
            packaging of inductive construction in silicon, giving back
            the inner language of space to the natural encoding.
            If you are interested in boosting this project forward
            and have a vision how to do it please drop us a line at
            <a href="http://gitter.im/groupoid/exe">gitter.im/groupoid/exe</a> public.
