include ../../../header

html
    head
        meta(property='og:title'       content='INSTITUTE')
        meta(property='og:description' content='Інститут Прикладної Математики')
        meta(property='og:url'         content='https://groupoid.space/institute/')

block title
    title КФ-033-02

block content
    +header('', 'Формальні логіки', 'Курс лекцій для студентів першого курсу кафедри формальної філософії КФ-033-02')
    article.main
        .om
            aside <span>Автор</span>: <b>Максим Сохацький</b><br>
                <span>Код курсу</span>: <b><a href="../">КФ-033-02</a></b><br>
                <span>Кількість кредитів</span>: <b>12</b><br>
            section
                h1 Формальні логіки
            section
                p.
                    Формальні логіки &mdash; класичний курс по основам математичної формальної
                    логіки та теорії рекурсивних функцій сумісний з роботами ранніх
                    майстрів інтуіціонізму.

        .index
            .index__col
                ul
                    li: a(href='#') 1. Проблеми основ математики
                    li: a(href='#') 2. Формальна система
                    li: a(href='#') 3. Формальний вивід
                    li: a(href='#') 4. Числення висловлювань
                    li: a(href='#') 5. Числення предикатів
                    li: a(href='#') 6. Формальна арифметика
                    li: a(href='#') 7. Примітивна рекурсія
                    li: a(href='#') 8. Загально-рекурсивні функції
                    li: a(href='#') 9. Частково-рекурсивні функції
                    li: a(href='#') 10. Аксіоматика
                    li: a(href='#') 11. Повнота та непротирічність

include ../../../footer
