include ../../../header

html
    head
        meta(property='og:title'       content='INSTITUTE')
        meta(property='og:description' content='Інститут Прикладної Математики')
        meta(property='og:url'         content='https://groupoid.space/institute/')

block title
    title КМ-111-03

block content
    +header('', 'Теорія гомотопій', 'Курс лекцій для студентів другого курсу кафедри чистої математики КМ-111-02')
    article.main
        .om
            aside <span>Автор</span>: <b>Си-Цзян</b><br>
                <span>Код курсу</span>: <b><a href="../">КМ-111-03</a></b><br>
                <span>Кількість кредитів</span>: <b>12</b><br>
            section
                h1 Теорія гомотопій
            section
                p.
                    Теорія гомотопій &mdash; розділ топології присвячений вирішенню задачі розповсюдження.

        .index
            .index__col
                ul
                    li: a(href='#') 1. Основна задача
                    li: a(href='#') 2. Часткові випадки основної задачі
                    li: a(href='#') 3. Розшаровані простори
                    li: a(href='#') 4. Гомотопічні групи
                    li: a(href='#') 5. Обчислення гомотопічних груп
                    li: a(href='#') 6. Теорія перешкод
                    li: a(href='#') 7. Когомотопічні групи
                    li: a(href='#') 8. Спектральні послідовності
                    li: a(href='#') 9. Спектральні посладовності розшарованих просторів
                    li: a(href='#') 10. Класи абелевих груп
                    li: a(href='#') 11. Гомотопічні групи сфер

include ../../../footer
