extends ../../../layout.pug

block title
    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
          jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
          TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          "HTML-CSS": { imageFont: null },
       });
    title КМ-111-03

block content
    +header('../../../groupoid.svg', 'Теорія гомотопій', 'Курс лекцій для студентів другого курсу кафедри чистої математики КМ-111-02')
    article.main
        .om
            aside <span>Автор</span>: <b>Си-Цзян</b><br>
                <span>Код курсу</span>: <b><a href="../">КМ-111-03</a></b><br>
                <span>Кількість кредитів</span>: <b>12</b><br>
            section
                h1 Теорія гомотопій
            section
                p.
                    Теорія гомотопій &mdash; розділ топології присвячений вирішенню задачі розповсюдження.

        .index
            .index__col
                ul
                    li: a(href='#') 1. Основна задача
                    li: a(href='#') 2. Часткові випадки основної задачі
                    li: a(href='#') 3. Розшаровані простори
                    li: a(href='#') 4. Гомотопічні групи
                    li: a(href='#') 5. Обчислення гомотопічних груп
                    li: a(href='#') 6. Теорія перешкод
                    li: a(href='#') 7. Когомотопічні групи
                    li: a(href='#') 8. Спектральні послідовності
                    li: a(href='#') 9. Спектральні посладовності розшарованих просторів
                    li: a(href='#') 10. Класи абелевих груп
                    li: a(href='#') 11. Гомотопічні групи сфер


