extends ../../../layout.pug

block title
    title MAYBE

block content
    article.main.list
        section
            h1 maybe
            aside <a href="..">Base Library</a>
                time Published: 4 NOV 2017
            p.
                <a href="https://raw.githubusercontent.com/groupoid/infinity/master/priv/maybe.ctt">Maybe package</a>
                contains inductive data type definition representing value container with optional empty constructor.
            code.
                data maybe (A: U)
                    = nothing
                    | just (a: A)

            h2 nothing
            p <mark>nothing</mark> is basic maybe point constructor.
            code.
                null: maybe nat = nothing

            h2 just
            p <mark>just</mark> is maybe value wrapper.
            code.
                wrapped: maybe nat = just one

        section
            h1 Generics

            h2 maybe (A B: U) (n: B) (j: A -> B) : maybe A -> B
            p Returns a function from wrapped to raw values.
            pre.
                > maybe_ nat nat zero (\ (x: nat) -> x) (just zero)
            pre.
                EVAL: zero

