extends ../../../layout.pug

block title
    title BUNDLE
    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
          jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
          TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          "HTML-CSS": { imageFont: null },
          AuthorInit: function() {
              MathJax.Hub.Register.StartupHook("TeX AMSmath Ready", function() {
                  var TEX = MathJax.InputJax.TeX;
                  TEX.Definitions.Add({
                      macros: {
                          llparenthesis: ['Macro', '\\mathopen{\u2987}'],
                          rrparenthesis: ['Macro', '\\mathclose{\u2988}'],
                          llbracket:     ['Macro', '\\mathopen{\u27E6}'],
                          rrbracket:     ['Macro', '\\mathclose{\u27E7}'], } }); }); }, });

block content
    article.main
        .om
            section
                h1 BUNDLE
        aside Maxim Sokhatsky
            time 20 MAY 2020
        .enc
        section
            figure.
                $$\def\mapright#1{\xrightarrow{{#1}}}
                  \def\mapdown#1{\Big\downarrow\rlap{\raise2pt{\scriptstyle{#1}}}}
                  \def\mapdiagl#1{\vcenter{\searrow}\rlap{\raise2pt{\scriptstyle{#1}}}}
                  \def\mapdiagr#1{\vcenter{\swarrow}\rlap{\raise2pt{\scriptstyle{#1}}}}
                $$
            p.
                <a href="https://raw.githubusercontent.com/groupoid/infinity/master/priv/bundle.ctt">
                Bundle package</a> contains basic information about fibers (needed
                for weak-equivalence) and fiber bundles, constructions
                from algebraic topology.

            h2 Fiber
            p.
                The fiber of the map $p: E \rightarrow B$ in a point $y: B$
                is all points $x: E$ such that $p(x)=y$.
            p.
            code.
                fiber (E B: U) (p: E -> B) (y: B): U
                    = (x: E) * Path B y (p x)

            h2 Fiber Bundle
            p.
                The fiber bundle $ F \rightarrow E \mapright{p} B$ on a topological
                space E with fiber F and base B is a
                structure $(F,E,B,p)$ where F is a layer, E is a total space,
                B is a base of fibration, and $p: E \rightarrow B$ is a surjective
                map with following property:
                for any point $y: B$ exists a neighborhood $U_b$ for which a
                homeomorphism $f: p^{-1}(U_b) \rightarrow U_b \times F$
                making the following diagram commute.
            p.
            figure.
                $$
                \begin{array}{ccc}
                    p^{-1}(U_b) & \mapright{f} & U_b \times F \\
                    \mapdown{\mathbf{p}} & \mapdiagr{pr_1} & \\
                    U_b & & \\
                \end{array}
                $$

            h2 Trivial Fiber Bundle
