extends ../../../../layout.pug

block title
    title STREAM

block content
    article.main.list
        section
            h1 stream
            aside <a href="..">Base Library</a>
                time Published: 16 OCT 2017
            p.
                <a href="https://raw.githubusercontent.com/groupoid/cubical/master/src/stream.ctt">Stream package</a>
                contains inductive data type definition representing infinite parametrized homogenous lists,
                its generic functions, theorems and examples of usage.
            code.
                data stream (A: U)
                   = cons (a: A) (as: stream A)

            h2 cons
            p <mark>cons</mark> is basic list constructor.
            code.
                ones: stream nat = cons one ones

        section
            h1 Generics

            h2 head (A : U) : stream A -> A
            p Returns a first element of an infinite stream.

            h2 tail (A : U) : stream A -> stream A
            p Returns tail of an infinite stream.
            pre.
                > let a: nat = head nat (tail nat ones) in a
            pre.
                EVAL: suc zero

