extends ../../../../layout.pug

block title
    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
          jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
          TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          "HTML-CSS": { imageFont: null },
       });
    title КМ-111-10

block content
    +header('../../groupoid.svg', 'Гомотопічна теорія типів', 'Навчальна програма для студентів третього курсу кафедри чистої математики КМ-111-10')
    article.main
        .om
            section
                h1 Гомотопічна теорія типів
            aside <span>Погодив</span>: <b>Максим Сохацький</b><br>
                <span>Код курсу</span>: <b><a href="../">КМ-111-10</a></b><br>
                <span>Кількість кредитів</span>: <b>12</b><br>

        .index
            .index__col
                h2 Матеріали лекцій
                ul
                    li: a(href='https://github.com/groupoid/groupoid.space/blob/master/articles/mltt/mltt.pdf') 1. Теорія типів
                    li: a(href='https://github.com/groupoid/groupoid.space/blob/master/articles/inductive/inductive.pdf') 2. Індуктивні типи
                    li: a(href='https://github.com/groupoid/groupoid.space/blob/master/articles/hott/hott.pdf') 3. Гомотопічні типи
                    li: a(href='https://github.com/groupoid/groupoid.space/blob/master/articles/hit/hit.pdf') 4. Вищі індуктивні типи
                    li: a(href='#') 5. Модальності
                    li: a(href='https://github.com/groupoid/groupoid.space/blob/master/articles/set/set.pdf') 6. Теорія множин
                    li: a(href='#') 7. Теорія категорій
                    li: a(href='https://github.com/groupoid/groupoid.space/blob/master/articles/topos/topos.pdf') 8. Теорія топосів
                    li: a(href='#') 9. Алгебраїчна топологія
                    li: a(href='#') 10. Диференціальна геометрія



