extends ../../layout.pug

block title
    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
          jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
          TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          "HTML-CSS": { imageFont: null },
       });
    title COURSE

block content
    +header('../../groupoid.svg', 'Гомотопічна теорія типів', 'Навчальна програма для студентів третього курсу')
    article.main
        .om
            section
                h1 Курс "Мова простору"
            aside <b>Доповідач</b>: Максим Сохацький<br>
                <b>Місцина</b>: ДП "ІНФОТЕХ", Дегтярівська 15А, Київ 04050<br>
                <b>Час проведення</b>: 17 липня 2021, 11:00<br>

            h2 Вступ
            p.
                Цей курс є сучасним вступом в теорію типів
                яка викоростовується для побудови не тільки мов програмування,
                але і мов для математичної верифікації. Оскільки модальна
                гомотопічна теорія типів підходить для формалізації усієї
                математики її ще називають "мовою простору".
            p.
                Серія лекцій присвячена базовій бібліотеці Групоїд Інфініті
                та здобуттю навичок програмування математичних визначень
                та теорем на одній з реалізацій цієї теорії типів &mdash;
                мові <a href="https://homotopy.dev/">Anders</a>.

            h2 Мотивація
            p.
                Головні завдання курсу:
                1) безпосередня побудова термів-доведень в кубічній теорії типів за допомогою комп'ютерної верифікації;
                2) вирішення домашній завдань або вправ з підручника HoTT на мові Anders;
                3) запис нонаток у TeX як основна культура документування;
                5) курсова робота по формалізації певної математичної теорії або порт існуючої формалізації з Agda або Lean;
                6) гуртування людей які намагаються поєднати професійну математику та програмування;
                7) отримання інтелектуального задоволення.

            h2 Підручник HoTT
            p.
                Що стосується теорії та дидактичних матеріалів,
                то курс побудований таким чином аби можна було використовувати
                як текстуальне джерело-компаньон класичний <a href="https://homotopytypetheory.org/book/">Підручник HoTT</a>
                Структура курсу теж ділиться на дві великі частини:
                1) програмування (або базові синтетичні конструкції теорії типів); та
                2) математика (математичні теорії написані на цій мові програмування).
                На додаток до класчних тем підручника HoTT, цей курс містить початковий
                вступ у формальну алгебраїчну топологію та диференціальну геометрію.

            h2 Кубічні мови
            p.
                На практиці професійні математики зосереджені навколо двох мов математичного
                програмування: Agda та Lean. У той час як Agda підтримує кубічні примітиви в ядрі прувера,
                для Lean існує бібліотека яка інтерналізує кубічні примітиви
                в примитіви ядра Lean які називаються фактортипами (така система є
                консистентною проте не завжди має нормальні форми).

                Усього існує небагато кубічних мов програмування:
                1) <b>cubical/cubicaltt</b> (CCHM);
                2) <b>RedPRL/redtt/cooltt </b> (ABCFHL).
                3) <b>yacctt </b> (ABCFHL);
                4) <b>Arend</b> (I-HoTT);
                5) <b>Agda</b> (CCHM);
                6) <b>Anders</b> (CCHM).
                Ми покажемо відмінності між ними проте курс зосереджений навколо синтаксису CCHM.
                Посилання на адаптації нашої бібліотеки Групоїд Інфініті для усіх цих кубічних пруверів,
                а також посилання на самі прувери та їх математичні моделі
                наведені на сайті <a href="https://cubical.systems">Кубічні Системи</a>

        .om
            section
                h1 Програмування
                h2 Лекція I: Теорія типів
        section
            p.
                The first section is an introduction to type theory,
                its subject matter, and the method of computer science. We will
                show basic principles of lambda calculus, its most powerful
                version &mdash; System $P_\omega$, Calculus of Constructions,
                and Pure Type Systems. Then we will encode the theorems of MLTT
                type system in cubical type checkers. This section will cover
                <b>Pi</b>, <b>Sigma</b>, <b>Equ</b>, <b>W</b> types.
            p.
                HoTT 1.3, 1.4, 1.5, 1.6, 1.12, 2.7, 2.9, 2.11, 6.2

            <center><table cellspacing=5><tr><td width=5><img src="https://n2o.space/img/pdf.jpg" width=35></td><td width=400>
            <a href="https://github.com/groupoid/groupoid.space/blob/master/articles/mltt/mltt.pdf">
            <h3>Issue I: Internalizing Martin-Löf Type Theory</h3>
            </a></td></tr></table></center>
        .om
            section
                h2 Issue II: Inductive Types
        section
            p.
                The second section is an introduction to basic inductive
                types and induction principle. Inductive types form a basis
                of so-called Calculus of Inductive Constructions, the theory behind Coq.
                We will show how proving theorems with induction principle will
                differ from cubical constructions.  Also, we introduce a
                general Impredicative Encoding of Inductive Types (Awodey).
                This section will cover: <b>Empty</b>, <b>Unit</b>,
                <b>Either</b>, <b>Prod</b>, <b>Bool</b>, <b>Maybe</b>,
                <b>Nat</b>, <b>List</b>, <b>Fix</b>, <b>Mu</b>, <b>Nu</b>,
                <b>Free</b>, <b>Cofree</b> types.
            p.
                HoTT 1.7, 1.8, 1.9, 5.1, 5.6

            <center><table cellspacing=5><tr><td width=5><img src="https://n2o.space/img/pdf.jpg" width=35></td><td width=400>
            <a href="https://github.com/groupoid/groupoid.space/blob/master/articles/inductive/inductive.pdf">
            <h3>Issue II: Inductive Types and Encodings</h3>
            </a></td></tr></table></center>

        .om
            section
                h2 Issue III: Homotopy Type Theory
        section
            p.
                This topic gives a fundamental view of Pi types as Fibrations
                used in constructive Equivalence. Also here we give an infinite
                hierarchy of types, containing higher globular equalities used
                as a base for IPL, Set Theory, and Simplicial Geometry.
                This section will cover <b>Fiber</b>, <b>n-Groupoid</b>,
                <b>$\infty$-Groupoid</b> types.
            p.
                There exist three equalities in Type Theory: 1) built-in into type checker,
                representing Id, Equ or Path type with J eliminator; 2) Fibration based Equivalence;
                3) Isomorphism containing retract and section.
                This fact leads to Univalence Axiom that states that all equalities are equal and this
                could be proved in cubical type checkers.
                This section will cover: <b>Equiv</b>, <b>Iso</b>, <b>Homotopy</b>,
                <b>Univalence</b>, <b>Injective</b>, <b>Surjective</b> types.
            p.
                HoTT 2.1, 2.3, 2.4, 2.6, 2.7

            <center><table cellspacing=5><tr><td width=5><img src="https://n2o.space/img/pdf.jpg" width=35>
            </td><td width=400><a href="https://github.com/groupoid/groupoid.space/blob/master/articles/hott/hott.pdf">
            <h3>Issue III: Homotopy Type Theory</h3>
            </a></td></tr></table></center>

        .om
            section
                h2 Issue IV: Higher Inductive Types
        section
            p.
                One of the primary motivation of HoTT is constructive geometry and
                cell complexes, the spaces constructed by gluing n-discs along
                their boundaries. In this section, we show how to build topological
                primitives and how to reason about them.
                This section will cover: <b>Line</b>, <b>Suspension</b>,
                <b>n-Sphere</b>, <b>Pushout</b>, <b>Pullback</b>,
                <b>Truncation</b>, <b>Quotient</b> types.
            p.
                HoTT 6.3, 6.4, 6.5, 6.6, 6.9, 6.10

            <center><table cellspacing=5><tr><td width=5><img src="https://n2o.space/img/pdf.jpg" width=35>
            </td><td width=400><a href="https://github.com/groupoid/groupoid.space/blob/master/articles/hit/hit.pdf">
            <h3>Issue VI: Higher Inductive Types</h3>
            </a></td></tr></table></center>

        .om
            section
                h2 Issue V: Modalities
        section
            p.
                This section will cover: <b>Infinitesimal</b> type.
            p.
                HoTT 7.7

        .om
            section
                h1 Mathematics
        .om
            section
                h2 Issue VI: Set Theory
        section
            p.
                This section is an introduction to Intuitionistic Propositional Logic (IPL),
                its difference from Classical Logic, Axiom of Choice, Law of Excluding Middle,
                Propositional Truncation, Hedberg Theorem, Decidable Types, Constructive Set Theory.
                This section will cover: <b>Prop</b>, <b>Set</b>, <b>Decidable</b>,
                <b>Stable</b>, <b>Discrete</b> types.
            p.
                HoTT 3.1, 3.3, 3.11
        .om
            section
                h2 Issue VII: Category Theory
        section
            p.
                More than 10 Fields awards are taken with Category Theory (CT) as an instrument.
                For doing Math, CT is crucial. As a companion to HoTT chapter on CT,
                we suggest the course of Steve Awodey (the disciple of Saunders Mac Lane),
                who also made HoTT possible.
            p.
                This section will give the fundamental notion of following types:
                <b>Precategory</b>, <b>Rezk Completion</b>,
                <b>Functor</b>, <b>Natural Transformation</b>, <b>Adjoint</b>, <b>Cone</b>,
                <b>Structure Identity Principle</b>, <b>Limit</b>, <b>Pullback</b>, <b>Kan Extension</b>,
                <b>Monomorphism</b>, <b>Epimorphism</b>, <b>Universal Mapping Property</b>.
            p.
                The primary application of CT in Computer Science is building the
                categorical model of Dependently Typed Lambda Calculus as an internal
                language of Locally Cartesian Closed Category. The two models mentioned
                in this course are Categories with Families (Dybjer) and C-Systems (Voevodsky).
            p.
                Also as examples of Category instances following types are used: Category of Sets,
                Category of Functions, Category of Categories, Category of Functors, Slice Category, Product Category.
                Using those we can construct basic examples of 2-categories, and give a very basic intro to
                $\infty$-Categories.
                Types in this section: <b>Category of Commutative Monoids</b>,
                <b>Category of Abelian Groups</b>, <b>Grothendieck Group</b>.

            <center><table cellspacing=5><tr><td width=5><img src="https://n2o.space/img/pdf.jpg" width=35>
            </td><td width=400><a href="https://github.com/groupoid/groupoid.space/blob/master/articles/cwf/cwf.pdf">
            <h3>Issue VIII: Contextual Categories for Martin-Löf Type Theory</h3>
            </a></td></tr></table></center>

        .om
            section
                h2 Issue VIII: Topos Theory
        section
            p.
                Topos Theory will give a more in-depth look into categorical models
                and make a stronger foundation to build a bridge between CT and Logic of Space.
            p.
                In this section, I will mention <b>Subobject Classifier</b> and <b>Topos</b> types.

            <center><table cellspacing=5><tr><td width=5><img src="https://n2o.space/img/pdf.jpg" width=35></td><td width=400>
            <a href="https://github.com/groupoid/groupoid.space/blob/master/articles/topos/topos.pdf">
            <h3>Issue IX: Formal Topos on Category of Sets</h3>
            </a></td></tr></table></center>

        .om
            section
                h2 Issue IX: Algebraic Topology
        section
            p.
                Types in this section: <b>Monoid</b>, <b>Commutative Monoid</b>, <b>Group</b>,
                <b>Ring</b>, <b>Abelian Group</b>, <b>Abelian Ring</b>, <b>Hopf</b>,
                <b>Loop Space</b>, <b>Homotopy Group</b>.
        .om
            section
                h2 Issue X: Differential Geometry
        section
            p.
                Types in this section: <b>Abstract Homogeneous Structure</b>, <b>Shape</b>,
                <b>Étale Map</b>, <b>Automorphism</b>, <b>Fiber Bundle</b>, <b>Manifold</b>,
                <b>Covering Space</b> (G-Set).
        .om
            section
                h1 History

        .types
            h2 Historical Notes
            p.
                As for the tower of type theories that are necessary for CCHM (Cohen-Coquand-Huber-Mortberg)
                introduction we will use the following setting.

            h2 Type Systems
            -
                    var core = {
                    'PTS':  [ 'pi' ],
                    'MLTT': [ 'pi', 'sigma', 'id', 'W' ],
                    'CiC':  [ 'pi', 'sigma', 'id', 'fix', 'induction' ],
                    'CCHM': [ 'pi', 'sigma', 'path', 'comp', 'glue', 'HIT' ],
                }

            .type
                for v, k in core
                    ol.type__col
                        h3= k.toUpperCase()
                        for i in v
                            li: a(href='#'+i)= i.toUpperCase()
            p.
                These historical
                prerequisites (PTS, MLTT, CiC) and will be given along the way of the course.

        .om
            section
                h1 Towards EGA/SGA
        section
            p.
                Cohesive Type Theory is satisfying the needs of modalities, such as
                connectedness, compactness, infinitesimal shapes, etc.
                Differential Cohesive Type Theory is the internal language of differential
                cohesive $(\infty,1)$-topoi, with additional structure, just as $(\infty,1)$-categories
                add a globular path equality structure to locally cartesian closed categories
                and its internal language — MLTT. Please refer to
                <a href="https://hott-uf.github.io/2017/abstracts/cohesivett.pdf">cohesivett</a>
                for more information.

            p.
                Cohesive types are modeled in the base library as undefined axioms.
                Process Calculus is another example of modality types with special
                spawn arrows hiding the underlying run-time implementation.