include ../../header

html
    head
        meta(property='og:title'       content='INSTITUTE')
        meta(property='og:description' content='Інститут Прикладної Математики')
        meta(property='og:url'         content='https://groupoid.space/institute/')

block title
    title КВ-123

block content
    +header('', 'Теоретична інформатика', 'Курси лекцій другого освітнього рівня КВ-123')
    article.main
        .om
            section
                h1 КАФЕДРА ТЕОРЕТИЧНОЇ ІНФОРМАТИКИ
            aside <span>Погодив</span>: <b>Максим Сохацький</b><br>
                <span>Код програми</span>: <b><a href="../">КВ-123</a></b><br>
                <span>Кількість кредитів</span>: <b>120</b><br>

                h2 Курси кафедри
                .type
                    ol.type__col
                        li: a(href='01 Лямбда-числення/') Лямбда-числення
                        li: a(href='02 Теорія графів/') Теорія графів
                        li: a(href='03 Теорія мов програмування/') Теорія мов програмування
                        li: a(href='04 Теорія операційних системи/') Теорія операційних системи
                        li: a(href='05 Теорія масового обслуговування/') Теорія масового обслуговування
                        li: a(href='06 Теорія розподілених систем/') Теорія розподілених систем
                        li: a(href='07 Системи реального часу та телеметрія/') Системи реального часу та телеметрія
                        li: a(href='08 Інформаційно-пошукові системи/') Інформаційно-пошукові системи
                        li: a(href='09 Моделювання складних систем/') Моделювання складних систем
                        li: a(href="10 Комп'ютерні сховища даних/") Комп'ютерні сховища даних
                        li: a(href="11 Комп'ютерні обчислення/") Комп'ютерні обчислення
                        li: a(href="12 Комп'ютерна графіка/") Комп'ютерна графіка
                        li: a(href="13 Комп'ютерні мережі/") Комп'ютерні мережі
                        li: a(href='14 Веб-програмування/') Веб-програмування
                        li: a(href='15 Функціональне програмування/') Функціональне програмування
                        li: a(href='16 Схемотехніка/') Схемотехніка
                        li: a(href='17 Мікропроцесори/') Мікропроцесорні архітектури

include ../../footer
