extends ../../layout.pug

block title
    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
          jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
          TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          "HTML-CSS": { imageFont: null },
       });
    title КВ-123

block content
    +header('../../groupoid.svg', 'Теоретична інформатика', 'Курси лекцій другого освітнього рівня КВ-123')
    article.main
        .om
            section
                h1 КАФЕДРА ТЕОРЕТИЧНОЇ ІНФОРМАТИКИ
            aside <span>Погодив</span>: <b>Максим Сохацький</b><br>
                <span>Код програми</span>: <b><a href="../">КВ-123</a></b><br>
                <span>Кількість кредитів</span>: <b>120</b><br>

        .index
            .index__col
                h2 Курси кафедри
                ul
                    li: a(href='01 Лямбда-числення/') 1. Лямбда-числення
                    li: a(href='02 Теорія графів/') 2. Теорія графів
                    li: a(href='03 Теорія мов програмування/') 3. Теорія мов програмування
                    li: a(href='04 Теорія операційних системи/') 4. Теорія операційних системи
                    li: a(href='05 Теорія масового обслуговування/') 5. Теорія масового обслуговування
                    li: a(href='06 Теорія розподілених систем/') 6. Теорія розподілених систем
                    li: a(href='07 Системи реального часу та телеметрія/') 7. Системи реального часу та телеметрія
                    li: a(href='08 Інформаційно-пошукові системи/') 8. Інформаційно-пошукові системи
                    li: a(href='09 Моделювання складних систем/') 9. Моделювання складних систем
                    li: a(href="10 Комп'ютерні сховища даних/") 10. Комп'ютерні сховища даних
                    li: a(href="11 Комп'ютерні обчислення/") 11. Комп'ютерні обчислення
                    li: a(href="12 Комп'ютерна графіка/") 12. Комп'ютерна графіка
                    li: a(href="13 Комп'ютерні мережі/") 13. Комп'ютерні мережі
                    li: a(href='14 Веб-програмування/') 14. Веб-програмування
                    li: a(href='15 Функціональне програмування/') 15. Функціональне програмування



