doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport'        content='width=device-width, initial-scale=1')
        meta(name='author'          content='Namdak Tonpa')
        meta(name='twitter:site'    content='@5HT')
        meta(name='twitter:creator' content='@5HT')
        meta(property='og:title'       content='BOOL')
        meta(property='og:description' content='Boolean or 0-sphere')
        meta(property='og:type'        content='website')
        meta(property='fb:app_id'      content='118554188236439')
        meta(property='og:url'         content='https://groupoid.space/foundations/mltt/bool/')
        link(rel='stylesheet' href='https://groupoid.space/main.css')
        block title
            title 0,1,2,W
            script(src='https://groupoid.space/styles/mathjax.js?config=TeX-AMS_HTML')
            script.
              window.MathJax = { jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
                             TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
                             extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
                             "HTML-CSS": { imageFont: null },
                             AuthorInit: function() {
                                 MathJax.Hub.Register.StartupHook("TeX AMSmath Ready", function() {
                                     var TEX = MathJax.InputJax.TeX;
                                     TEX.Definitions.Add({
                                         macros: {
                                           llparenthesis: ['Macro', '\\mathopen{\u2987}'],
                                           rrparenthesis: ['Macro', '\\mathclose{\u2988}'],
                                           llbracket:     ['Macro', '\\mathopen{\u27E6}'],
                                           rrbracket:     ['Macro', '\\mathclose{\u27E7}'],
                                         }
                                     });
                                 });
                             },
                             tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']],
                                        processEscapes: true }
                         };
    body.content
        block content
        block vars

block content
    article.main.list
        section
            h1 INDUCTIVE BASIS
            aside
                time Published: 4 NOV 2017
            p.
               These types forms the inductive bases and are built-in into type checker.

            h1 EMPTY
            p.
                <b>𝟎</b> type lacks both constructors and eliminators,
                however, it has recursor and induction.

            h2 Induction Principle

            h1 UNIT
            p.
               <b>𝟏</b> type has single inhabitant <b>★</b>.

            h2 Constructors
            h2 Eliminators
            h2 Induction Principle

            h1 BOOL
            p.
                <b>𝟐</b> is a logical boolean type or 0-sphere. Has
                two inhabitants <b>false=0<sub>2</sub></b> and <b>true=1<sub>2</sub></b>.

            h2 Constructors
            h2 Eliminators
            h2 Induction Principle

            h1 W
            p.
               Well-founded trees without mutual recursion represented as <b>W</b>-types.

            h2 Constructors
            h2 Eliminators
            h2 Induction Principle
