include ../../../header

html
    head
        meta(property='og:title'       content='INSTITUTE')
        meta(property='og:description' content='Інститут Прикладної Математики')
        meta(property='og:url'         content='https://groupoid.space/institute/')

block title
    title КМ-111-01

block content
    +header('', 'Алгебра', 'Курс лекцій для студентів другого курсу кафедри чистої математики КМ-111-01')
    article.main
        .om
            aside <span>Автор</span>: <b>Бурбакі</b><br>
                <span>Код курсу</span>: <b><a href="../">КМ-111-01</a></b><br>
                <span>Кількість кредитів</span>: <b>12</b><br>
            section
                h1 Алгебра
            section
                p.
                    Алгебра &mdash; розділ математики про абстрактні операції, їх структурування та обчислення.

        .index
            .index__col
                ul
                    li: a(href='#') 1. Алгебраїчні структури
                    li: a(href='#') 2. Лінійна алгебра
                    li: a(href='#') 3. Полілінійна алгебра
                    li: a(href='#') 3. Многочлени та раціональні дроби
                    li: a(href='#') 4. Поля
                    li: a(href='#') 5. Впорядковані групи та поля
                    li: a(href='#') 6. Модулі над кільцями головних ідеалів
                    li: a(href='#') 7. Напівпрості модулі та кільця
                    li: a(href='#') 8. Півторалінійні та квадратичні форми

include ../../../footer
