include ../../header

html
    head
        meta(property='og:title'       content='INSTITUTE')
        meta(property='og:description' content='Інститут Прикладної Математики')
        meta(property='og:url'         content='https://groupoid.space/institute/')

block title
    title КФ-033

block content
    +header('', 'Формальна філософія', 'Курси лекцій другого освітнього рівня КФ-033')
    article.main
        .om
            section
                h1 КАФЕДРА ФОРМАЛЬНОЇ ФІЛОСОФІЇ
            aside <span>Погодив</span>: <b>Максим Сохацький</b><br>
                <span>Код програми</span>: <b><a href="../">КФ-033</a></b><br>
                <span>Кількість кредитів</span>: <b>120</b><br>

                h2 Курси кафедри
                .type
                    ol.type__col
                        li: a(href='01 Теорія категорій') Теорія категорій
                        li: a(href='02 Формальні логіки') Формальні логіки
                        li: a(href='03 Категоріальна логіка') Категоріальна логіка
                        li: a(href='04 Лямбда-числення') Лямбда-числення
                        li: a(href='#') Модальні логіки
                        li: a(href='#') Теорія типів Мартіна-Льофа
                        li: a(href='#') Формалізація штучних мов
                        li: a(href='#') Формалізація людських мов
                        li: a(href='#') Мультимодальна гомотопічна теорія типів
                        li: a(href='#') Гіперграфові моделі фізики
                        li: a(href='#') Теорія топосів
                        li: a(href='#') Теорія інфініті-категорій

include ../../footer
