extends ../../layout.pug

block title
    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
          jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
          TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          "HTML-CSS": { imageFont: null },
       });
    title КФ-033

block content
    +header('../../groupoid.svg', 'Формальна філософія', 'Курси лекцій другого освітнього рівня КФ-033')
    article.main
        .om
            section
                h1 КАФЕДРА ФОРМАЛЬНОЇ ФІЛОСОФІЇ
            aside <span>Погодив</span>: <b>Максим Сохацький</b><br>
                <span>Код програми</span>: <b><a href="../">КФ-033</a></b><br>
                <span>Кількість кредитів</span>: <b>120</b><br>

        .index
            .index__col
                h2 Курси кафедри
                ul
                    li: a(href='01 Теорія категорій') 1. Теорія категорій
                    li: a(href='02 Формальні логіки') 2. Формальні логіки
                    li: a(href='03 Категоріальна логіка') 3. Категоріальна логіка
                    li: a(href='04 Лямбда-числення') 4. Лямбда-числення
                    li: a(href='#') 5. Модальні логіки
                    li: a(href='#') 6. Теорія типів Мартіна-Льофа
                    li: a(href='#') 7. Формалізація штучних мов
                    li: a(href='#') 8. Формалізація людських мов
                    li: a(href='#') 9. Мультимодальна гомотопічна теорія типів
                    li: a(href='#') 10. Гіперграфові моделі фізики
                    li: a(href='#') 11. Теорія топосів
                    li: a(href='#') 12. Теорія інфініті-категорій

