.exe {

    figure {
        max-width: inherit;
    }

    h1 {
        color: #7D8A96;
        font-size: 32px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0 , 0,0.3);
        display: inline-block;
        margin: 42px 0 10px;
        @media(min-width: 768px) {
            font-size: 40px;
        }
    }

    h1 + h2 {
        margin-top: 0px;
    }
}

.macro {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    flex-wrap: wrap;
    width: 100%;
    &__col {
        h3 {
            padding: 0;
            width: initial;
        }
        padding-left: 24px;
        line-height: 1.5;
        font-size: 14px;
        @media(min-width: 768px) {
            font-size: 22px;
        }
    }
}

.langf {
    @media(min-width: 920px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    ol {
        display: inline-block;
        max-width: 650px;
        margin: auto;
        font-size: 20px;
        padding-left: 36px;
    }

    &__col {
        @media(min-width: 920px) {
            .langf-col:last-child {
                white-space: pre;
                margin-left: 20px;
            }

        }
    }
}