.footer {
    width: 100%;
    padding: 15px;
    background-image: linear-gradient(to left, #B066FE, #63E2FF);
    color: #282828;
    text-align: center;

    &__logo {
        width: 50px;
        margin-right: 20px;
    }

    &__copy {
        font-size: 14px;
        white-space: pre;
    }

    @media(min-width: 768px) {
        &__copy {
            font-size: 28px;       
        }
    }
}