.footer {
    width: 100%;
    padding: 15px;
    background-image: linear-gradient(to left, #B066FE, #63E2FF);
    color: #282828;
    margin-top: auto;
    text-align: center;
     box-shadow: inset 0 3px 5px rgba(0,0,0,0.3);


    &__logo {
        width: 50px;
        margin-right: 20px;
    }

    &__copy {
        font-size: 20px;
        white-space: pre;
    }

    @media(min-width: 768px) {
        &__copy {
            font-size: 28px;       
        }
    }
}