.header {
    background-image: linear-gradient(125deg,#8E78FF , #FC7D7B);
    color: white;
    min-height: 336px;
    padding: 16px 8px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
     box-shadow: 0 3px 10px rgba(0,0,0,0.3);

    &__logo {
        width: 150px;
    }

    &__titles {
        max-width: 800px;
        margin: 20px;
        text-shadow: 0 1px 3px rgba(0,0,0,0.2);
    }

    &__title {
        font-size: 48px;
        line-height: 1.1;
    }

    &__subtitle {
        font-size: 22px;
    }

    @media(min-width: 768px) {
        flex-direction: row;
    
        &__logo {
            width: 200px;
            margin-right: 20px;
        }

        &__title {
            font-size: 60px;
        }

        &__subtitle {
            font-size: 30px;
        }
    }

}
