.index {
    display: inline-block;
    padding: 20px 0;
    font-size: 20px;

    &__col {
        padding: 5px 2vw;
    }

    a {
        text-transform: uppercase;
        line-height: 1.8;
    }

    h2 {
        font-size: 28px;
        text-align: left;
        margin-top: 16px;
    }

    ol {
        padding-left: 1.1em;
    }

    @media(min-width: 768px) {
        font-size: 24px;
        &__col {
            display: inline-block;
            vertical-align: top;
        }
    }
}