.index {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: top;
    padding: 20px 0;
    font-size: 20px;

    &__col {
        padding-right: 5px;
        white-space: nowrap;
    }

    a {
        text-transform: uppercase;
        line-height: 1.8;
    }

    h2 {
        font-size: 28px;
        text-align: left;
    }

    ol {
        padding-left: 1.1em;
    }

    @media(min-width: 768px) {
        font-size: 24px;

    }
}