.index {
    max-width: 900px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__col {
        white-space: nowrap;
        padding: 15px 25px;
        margin: 15px;
        background: #fefefe;
        box-shadow: 0 1px 4px rgba(0, 0, 100, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.5s cubic-bezier(0.23, 1, 0.32, 1);

        &:hover {
            box-shadow: 0 8px 40px rgba(0, 0, 100, 0.15), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        }
    }

    a {
        line-height: 1.5;
        color: #888;
        font-size: 24px;
    }

    a[href^="#"] {
        color: #BBBBBB;
    }

    a:hover {
        color: #3A98C8;
    }

    a[href^="#"]:hover {
        color: #BBBBBB;
    }

    h2 {
        font-size: 24px;
        text-align: left;
        color: #707070;
        margin: 0 0 10px;
        text-transform: uppercase;
    }
}
