.status {
        text-align: left;
        display: inline-block;
        padding-left: 32px;

    ol {
        line-height: 1.5;
        font-size: 18px;
        @media(min-width: 768px) {
            font-size: 22px;
        }
    }

}