extends ../../layout.pug

block title
    title EQUIV
    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
        MathJax.Hub.Config({ displayAlign: "left", tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true } });

block content
    +header('../../groupoid.svg', 'Singleton, Fiber and Equivalence', 'The proofs of contractability.')
    article.main
        .om
            section
                h1 Article
        aside Kostiantyn Rybnikov
            time DATE: 30 DEC 2018
        .om
            section
                p.
                    I am reading a beautiful paper called <href="https://arxiv.org/abs/1803.02294">A self-contained,
                    brief and complete formulation of Voevodsky’s Univalence
                    Axiom</a> by Martín Hötzel Escardó, and it really takes
                    time to understand some of the formulas. In fact, it
                    takes so much time, that I've spent an hour on the
                    airplane from Frankfurt to Kyiv gazing at just the
                    first three of them. Intention of this article is
                    not to create any new knowledge, but to extend
                    available explanations with specific examples
                    that helped me understand these formulas better,
                    when they finally "clicked" this morning.
                .semantics
                    figure.
                        $$isSignlton (X) := \sum_{c:X}\prod_{x:X}Id(c,x)$$.
                        $$f^{-1} (y) := \sum_{x:X}Id(f(x),x)$$.
                h2#nat $\Pi$ and $\Sigma$ types
                p.
                    Quick reminder on $\Pi$-types and $\Sigma$-types for programmers.
                p.
                    Just a quick reminder that  is read as "dependant function" (or "for all")
                    and  as "dependent tuple" ("there exist"). So, whenever you see:
                .semantics
                    figure.
                        $$someFunc : \prod_{x:X} <rest>$$,
                p.
                    you can mentally replace it with:
                .semantics
                    figure.
                        $$id : X \rightarrow <rest>$$.
                p.
                    Thank you for your time. Please send your feedback in Issues or PRs in
                    <a href="https://github.com/k-bx/k-bx.github.io">here</a>.
