extends ../layout.pug

block title
    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
          jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
          TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          "HTML-CSS": { imageFont: null },
       });
    title COURSES

block content
    +header('../../groupoid.svg', 'Cubical Course', 'Introduction to Modern Type Theories')
    article.main
        .om
            section
                h1 Seminar
            aside <b>Lecturer</b>: Максим Сохацький, Київ<br>
                <b>Venue</b>: TBA<br>
                25-07-2018

            h2 Intro
            p.
                This seminar supposed to be a contemporary introduction
                to modern type theory that is suitable for mathematicians needs,
                in the sense that this theory forms a foundation of mathematics
                and the language for theorems formulation and their proofs.

            h2 Purpose
            p.
                The seminar will focus on
                1) direct proof-term construction
                in cubical type theory with computer-based type checker;
                2) solving home assignments in cubical type checker;
                3) make people writing cubical code;
                4) writing lecture notes by students in LaTeX;
                5) making small course project as the
                final task (could be porting some library or theory
                from Agda or even formalizing a new part of mathematics);
                6) gather smart people together;
                7) have fun.

            h2 The Book
            p.
                While this seminar will try to follow HoTT book as a main source,
                I will try to give some parts, not present in HoTT, such as
                algebraic topology or higher category theory. On the other
                hand I will miss some parts from HoTT. Please treat this
                course as author's one, but heavily inspired by HoTT book
                and cubical type checkers.

            h2 Allowed Languages
            p.
                What is cubical type theory and why it is important?
                The cubical type theory is a theory in which univalence
                axiom by Voevodsky has computational interpretation.
                There are several type checkers which use different
                flavors of cubical type theory while sharing the same concept.
                Most notable stable implementations are: 1) agda --cubical;
                2) cubicaltt; 3) cubicaltt/hcomptrans; 4) yacctt; 5) RedPRL.
                We will show differences between them and students are free
                to choose type checker of their favor (for home assignments),
                but at learning classes (joint hackathon) I will use cubicaltt
                flavor I most experienced with.

        .om
            section
                h1 Foundations
                h2 1. MLTT
        section
            p.
                The first section is an introduction to type theory,
                its subject matter, and the method of computer science. We will
                show basic principles of lambda calculus, its most powerful
                version &mdash; System $P_\omega$, Calculus of Constructions,
                Pure Type Systems. Then we will encode the theorems of MLTT
                type system in cubical type checkers. This section will cover
                <b>Pi</b>, <b>Sigma</b>, <b>Equ</b>, <b>W</b> types.
            p.
                HoTT 1.3, 1.4, 1.5, 1.6, 1.12, 2.7, 2.9, 2.11, 6.2
        .om
            section
                h2 2. Inductive Types
        section
            p.
                The second section is an introduction to basic inductive
                types and induction principle. Inductive types form a basis
                of so-called Calculus of Inductive Constructions, the theory behind Coq.
                We will show how proving theorems with induction principle will
                differ from cubical constructions.  Also, we introduce an
                general Impredicative Encoding of Inductive Types (Awodey).
                This section will cover: <b>Empty</b>, <b>Unit</b>,
                <b>Either</b>, <b>Prod</b>, <b>Bool</b>, <b>Nat</b>, <b>List</b> types.
            p.
                HoTT 1.7, 1.8, 1.9, 5.1, 5.6
        .om
            section
                h2 3. Fibrations and n-Groupoids
            p.
                This section will cover: <b>Fiber</b>, <b>n-Groupoid</b>, <b>$\infty$-Groupoid</b> types.
        section
            p.
                Fibrations. n-Types. Connectedness.
            p.
                HoTT 2.1, 2.3, 2.4, 2.6, 2.7
        .om
            section
                h2 4. Prop and Set
        section
            p.
                Axiom of Choice. Contractability.
            p.
                HoTT 3.1, 3.3, 3.11
        .om
            section
                h2 5. Equiv, Iso and Univ
        section
            p.
                Weak equivalence, Isomorphism, Univalence. Functional Extensionality.
                This section will cover: <b>Equiv</b>, <b>Iso</b>, <b>Homotopy</b>,
                <b>Univalence</b> types.
            p.
        .om
            section
                h2 6. Higher Inductive Types
        section
            p.
                This section will cover: <b>Line</b>, <b>Suspension</b>,
                <b>n-Sphere</b>, <b>Pushout</b>, <b>Pullback</b>,
                <b>Truncation</b>, <b>Quotient</b> types.
            p.
                HoTT 6.3, 6.4, 6.5, 6.9, 6.10
        .om
            section
                h2 7. Modalities
        section
            p.
                This section will cover: <b>Infinitesimal</b> type.
        .om
            section
                h1 Mathematics
                h2 8. Category Theory
                h2 9. Topos Theory
                h2 10. Basic Algebra
                h2 11. Cardinals
                h2 12. Algebraic Topology
                h2 13. Hopf Fibrations
                h2 14. Grothiendick Group
                h1 History

        .types
            h2 History
            p.
                As for the tower of type theories that are necessary for CCHM (Cohen-Coquand-Huber-Mortberg)
                introduction we will use the following setting.

            h2 Type Systems
            -
                    var core = {
                    'PTS':  [ 'pi' ],
                    'MLTT': [ 'pi', 'sigma', 'id', 'W' ],
                    'CiC':  [ 'pi', 'sigma', 'id', 'fix', 'induction' ],
                    'CCHM': [ 'pi', 'sigma', 'path', 'comp', 'glue', 'HIT' ],
                }

            .type
                for v, k in core
                    ol.type__col
                        h3= k.toUpperCase()
                        for i in v
                            li: a(href='#'+i)= i.toUpperCase()
            p.
                These historical
                prerequisites (PTS, MLTT, CiC) and will be given along the way of the course.
                The history part could be extended by request from the students.

        .om
            section
                h1 Beyond Cubical
        section
            p.
                Cohesive Type Theory is satisfying the needs of modeling modalities, such as
                connectedness, compactness, infinitesimal shapes, etc.
                Differential Cohesive Type Theory is the internal language of differential
                cohesive $(\infty,1)$-topoi, with additional structure, just as $(\infty,1)$-categories
                add a globular path equality structure to locally cartesian closed categories
                and its internal language — MLTT. Please refer to
                <a href="https://hott-uf.github.io/2017/abstracts/cohesivett.pdf">cohesivett</a>
                for more information.

            p.
                Cohesive types modeled in the base library and undefined axioms.
                Process Calculus is another example of modality types with special
                spawn arrows hiding the underlying run-time implementation.
