extends ../../layout.pug

block title
    title INFINITY

block content
    +header('../../groupoid.svg', 'Infinity Language', 'MLTT Extensions')
    article.main
        .exe
            section
                h1 Article
            aside Maxim Sokhatsky
                time 15 FEB 16
            section
                h2 Introduction
                p.
                    The idea of Infinity Langauge came from the needs of unification and
                    arranging different calculuses as extensions to the core of the language
                    with dependent types (or MLTT core). While been working on distributed
                    systems, data storages and stream processing, the core two languages:
                    pi-calculus and stream calculus discovered to be connected and being
                    driven by a language with quantifiers as primitives. So we started
                    to look forward to a unified type checker.

                h2 Pure Type System
                p.
                    From the time Coquand at all discovered Calculus of Constructions<sup>6</sup>,
                    and Barendregt<sup>7</sup> systemized its variations, a Pure Type System
                    theory was developed. It is known also as Single Axiom System
                    with only Pi-Type of MLTT<sup>2</sup>, representing Functional Completeness<sup>3</sup>.
                code.
                    data O<sub>1</sub> = U : nat → O<sub>1</sub>
                            | Var: Ident → O<sub>1</sub>
                            | App: O<sub>1</sub> → O<sub>1</sub> → O<sub>1</sub>
                            | Lambda: Binder → O<sub>1</sub> → O<sub>1</sub> → O<sub>1</sub>
                            | Arrow: O<sub>1</sub> → O<sub>1</sub> → O<sub>1</sub>
                            | Pi: name → O<sub>1</sub> → O<sub>1</sub> → O<sub>1</sub>

                p.
                    1. S.MacLane. Categories for the Working Mathematician<br>
                    2. P.Martin-Löf. An Intuitionistic Theory of Types. 1972  <br>
                    3. B.Jacobs. Fibrations with indeterminates. 1994 <br>
                    4. W.Lawvere. Conceptual Mathematics. 1997  <br>
                    5. P.Curien. Category theory: a programming language-oriented introduction. 2008  <br>
                    6. T.Coquand. The Calculus of Constructions. 1988 <br>
                    7. H.Barendregt. Lambda Calculus With Types. 2010 <br>

                h2 Contextual Completness
                p.
                    The basic Core primitive which is needed for proving things
                    is MLTT Sigma-Type, representing Contextual Completeness.
                    This is needed for building Sigma pairs which are curried
                    records. Usually, type checkers called Pi-Sigma provers
                    as it contains PTS enriched with Sigma primitive.
                code.
                    data O<sub>2</sub> = O<sub>1</sub>
                            | Sigma: name → O<sub>2</sub> → O<sub>2</sub> → O<sub>2</sub>
                            | Pair: O<sub>2</sub> → O<sub>2</sub> → O<sub>2</sub>
                            | Fst: O<sub>2</sub> → O<sub>2</sub>
                            | Snd: O<sub>2</sub> → O<sub>2</sub>

                h2 Identity Types
                p.
                code.
                    data O<sub>3</sub> = O<sub>2</sub>
                            | Id: O<sub>3</sub> → O<sub>3</sub> → O<sub>3</sub>
                            | IdPair: O<sub>3</sub> → O<sub>3</sub> → O<sub>3</sub>
                            | IdJ: O<sub>3</sub> → O<sub>3</sub> → O<sub>3</sub> → O<sub>3</sub> → O<sub>3</sub> → O<sub>3</sub>
                p.
                    1. E.Bishop. Foundations of Constructive Analysis. 1967 <br>
                    2. T.Streicher, M.Hofmann. The groupoid interpretation of type theory. 1996 <br>
                    3. G.Barthe, V.Capretta. Setoids in type theory. 2003 <br>
                    4. M.Sozeau. Internalizing Intensional Type Theory 2013 <br>
                    5. V.Voevodsky. Identity types in the C-systems defined by a universe category. 2015 <br>
                    6. D.Selsam,L.de Moura. Congruence Closure in Intensional Type Theory. 2016 <br>

                h2 (Co)-Inductive Types
                p.
                    The further development of induction<sup>5</sup> inside MLTT provers led
                    to the theory of polynomial functors and well-founded trees<sup>4</sup>,
                    known in programming languages as inductive types with data
                    and record core primitives of type checker. In fact recursive inductive
                    types<sup>3</sup> could be encoded in PTS using non-recursive representation
                    Berarducci<sup>1</sup> or Categorical<sup>6</sup> encoding.
                code.

                    data tele   (A: U) = empty | tel: name → A → tele A
                    data branch (A: U) =         br: name → list name → A
                    data label  (A: U) =         lab: name → tele A

                    data O<sub>4</sub> = O<sub>3</sub>
                            | Sum: name → tele → list (label O<sub>4</sub>)
                            | Split: name → list (branch O<sub>4</sub>)
                            | Ctor: name → list O<sub>4</sub>
                p.
                    The non-well-founded trees or infinite coinductive trees<sup>6,8</sup>
                    are useful for modeling infinite process running which is part
                    of Milner's Pi-calculus. Coinductive streams are part of any MLTT base library.
                p.
                    1. A.Berarducci. Automatic Synthesis of Typed Lambda-Programs. 1985 <br>
                    2. F.Pfenning. Inductively defined types in the CoC. 1989 <br>
                    3. P.Wadler. Recursive types for free. 1990 <br>
                    4. N.Gambino. Wellfounded Trees and Dependent Polynomial Functors. 1995 <br>
                    5. P.Dybjer. Inductive Famalies. 1997 <br>
                    6. B.Jacobs. (Co)Algebras and (Co)Induction. 1997 <br>
                    7. V.Vene. Categorical programming with (co)inductive types<br>
                    8. H.Geuvers. Dependent (Co)Inductive Types are Fibrational Dialgebras. 2015 <br>

                h2 Higher Inductive Types
                p.
                    The fundamental development of equality inside MLTT
                    provers led us to the notion of ∞-groupoid<sup>2</sup> as spaces.
                    In this was Path identity type appeared in the core
                    of type checker along with de Morgan algebra on
                    built-in interval type. Glue, unglue composition
                    and fill operations are also needed in the core
                    for the univalence computability<sup>7</sup>.
                code.
                    data O<sub>5</sub> = O<sub>4</sub>
                            | Path: O<sub>5</sub> → O<sub>5</sub> → O<sub>4</sub>
                            | PathLam: Binder → O<sub>5</sub> → O<sub>5</sub> → O<sub>5</sub>
                            | PathApp: O<sub>5</sub> → Formula → O<sub>5</sub> → O<sub>5</sub>
                            | Comp: O<sub>5</sub> → O<sub>5</sub> → O<sub>5</sub>
                            | Fill: O<sub>5</sub> → O<sub>5</sub> → O<sub>5</sub>
                            | Glue: O<sub>5</sub> → O<sub>5</sub> → O<sub>5</sub>
                            | GlueElem: O<sub>5</sub> → O<sub>5</sub> → O<sub>5</sub>
                            | UnGlueElem: O<sub>5</sub> → O<sub>5</sub> → O<sub>5</sub>
                p.
                    1. T.Streicher. A groupoid model refutes UIP. 1994 <br>
                    2. T.Streicher. The Groupoid Interpretation. 1996 <br>
                    3. B.Jacobs. Categorical Logic and Type Theory. 1999 <br>
                    4. S.Awodey. Homotopy Type Theory and Univalent Foundations. 2013 <br>
                    5. S.Huber. A Cubical Type Theory. 2015 <br>
                    6. A.Joyal. What is an elementary higher topos. 2014 <br>
                    7. A.Mortberg. Cubical Type Theory: a constructive univalence axiom. 2017 <br>

            section
                h2 Universes
                p.
                    The universe system is completely described by the PTS SAR notation,
                    given by Barendregt. Find more info in
                    <a href='../pure/#axioms'>Axioms and Inference Rules</a>
                    of underlying Om intermediate language.
                code.
                    record PTS: * :=
                           (S: ∀ (n: nat) → star n)
                           (A: ∀ (i: nat) → type i (succ i))
                           (R: ∀ (i: nat) → ∀ (j: nat)
                                          → pi i j (max i j))

                h2 DIY Type System
                .macro
                    .macro__col
                        h3#om PTS
                        ol
                            li: a(href='#pi') PI
                    .macro__col
                        h3#macro MLTT
                        ol
                            li: a(href='#pi') PI
                            li: a(href='#sigma') SIGMA
                            li: a(href='#id') ID
                    .macro__col
                        h3#macro COMPACT
                        ol
                            li: a(href='#pi') PI
                            li: a(href='#hts') PATH
                            li: a(href='#hts') COMP
                    .macro__col
                        h3#eff CUBICAL
                        ol
                            li: a(href='#pi') PI
                            li: a(href='#sigma') SIGMA
                            li: a(href='#hts') PATH
                            li: a(href='#hts') COMP
                            li: a(href='#hts') GLUE
